/*-----------------------------------------------------------------------------------*/


/*  OWL CAROUSEL
/*-----------------------------------------------------------------------------------*/


/*
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */


/* clearfix */

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}


/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    padding: 0
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px)
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}

.owl-carousel .owl-item {
    float: left;
    padding: 0 15px
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}


/*
*   Owl Carousel Owl Demo Theme
*   v1.3.3
*/

.owl-theme .owl-controls {
    margin-top: 30px;
    text-align: center
}


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #333;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 0 10px;
    font-size: 80px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0;
    background: transparent;
    width: 30px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    text-decoration: none;
    color: #333;
    background: transparent;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline
    /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: .5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}


/* preloading images */

.owl-item.loading {
    min-height: 150px;
    /*background: url(AjaxLoader.gif) no-repeat center center*/
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 50%;
    margin-top: -70px
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -40px;
    top: 50%;
    margin-top: -70px
}

.owl-carousel .owl-item:hover,
.owl-carousel .portfolio-item a:hover {
    /*cursor: url(../img/drag.png), auto;*/
}

#single-slider .owl-controls {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 10px;
}


/*-----------------------------------------------------------------------------------*/
/*  MAGNIFIC POPUP
/*-----------------------------------------------------------------------------------*/
.mfp-bg {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1042;
  overflow:hidden;
  position:fixed;
  background:#fff;
  opacity:.95;
  filter:alpha(opacity=95)
}

.mfp-wrap {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1043;
  position:fixed;
  outline:none!important;
  -webkit-backface-visibility:hidden
}

.mfp-container {
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  padding:0 8px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

.mfp-container:before {
  content:'';
  display:inline-block;
  height:100%;
  vertical-align:middle
}

.mfp-align-top .mfp-container:before {
  display:none
}

.mfp-content {
  position:relative;
  display:inline-block;
  vertical-align:middle;
  margin:0 auto;
  text-align:left;
  z-index:1045
}

.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content {
  width:100%;
  cursor:auto
}

.mfp-ajax-cur {
  cursor:progress
}

.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor:-moz-zoom-out;
  cursor:-webkit-zoom-out;
  cursor:zoom-out
}

.mfp-zoom {
  cursor:pointer;
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
  cursor:zoom-in
}

.mfp-auto-cursor .mfp-content {
  cursor:auto
}

.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none
}

.mfp-loading.mfp-figure {
  display:none
}

.mfp-hide {
  display:none!important
}

.mfp-preloader {
  color:#ccc;
  position:absolute;
  top:50%;
  width:auto;
  text-align:center;
  margin-top:-.8em;
  left:8px;
  right:8px;
  z-index:1044
}

.mfp-preloader a {
  color:#ccc
}

.mfp-preloader a:hover {
  color:#fff
}

.mfp-s-ready .mfp-preloader {
  display:none
}

.mfp-s-error .mfp-content {
  display:none
}

button.mfp-close,button.mfp-arrow {
  overflow:visible;
  cursor:pointer;
  background:transparent;
  border:0;
  -webkit-appearance:none;
  display:block;
  outline:none;
  padding:0;
  z-index:1046;
  -webkit-box-shadow:none;
  box-shadow:none
}

button::-moz-focus-inner {
  padding:0;
  border:0
}

.mfp-close {
  width:44px;
  height:44px;
  line-height:44px;
  position:absolute;
  right:0;
  top:0;
  text-decoration:none;
  text-align:center;
  opacity:.65;
  filter:alpha(opacity=65);
  padding:0 0 18px 10px;
  color:#fff;
  font-style:normal;
  font-size:28px;
  font-family:Arial,Baskerville,monospace
}

.mfp-close:hover,.mfp-close:focus {
  opacity:1;
  filter:alpha(opacity=100)
}

.mfp-close:active {
  top:1px
}

.mfp-close-btn-in .mfp-close {
  color:#333
}

.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
  color:#333;
  right:-6px;
  text-align:right;
  padding-right:6px;
  width:100%
}

.mfp-counter {
  position:absolute;
  top:0;
  right:0;
  color:#ccc;
  font-size:12px;
  line-height:18px
}

.mfp-arrow {
  position:absolute;
  opacity:.65;
  filter:alpha(opacity=65);
  margin:0;
  top:50%;
  margin-top:-55px;
  padding:0;
  width:90px;
  height:110px;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

.mfp-arrow:active {
  margin-top:-54px
}

.mfp-arrow:hover,.mfp-arrow:focus {
  opacity:1;
  filter:alpha(opacity=100)
}

.mfp-arrow:before,.mfp-arrow:after,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a {
  content:'';
  display:block;
  width:0;
  height:0;
  position:absolute;
  left:0;
  top:0;
  margin-top:35px;
  margin-left:35px;
  border:medium inset transparent
}

.mfp-arrow:after,.mfp-arrow .mfp-a {
  border-top-width:13px;
  border-bottom-width:13px;
  top:8px
}

.mfp-arrow:before,.mfp-arrow .mfp-b {
  border-top-width:21px;
  border-bottom-width:21px;
  opacity:.7
}

.mfp-arrow-left {
  left:0
}

.mfp-arrow-left:after,.mfp-arrow-left .mfp-a {
  border-right:17px solid #fff;
  margin-left:31px
}

.mfp-arrow-left:before,.mfp-arrow-left .mfp-b {
  margin-left:25px;
  border-right:27px solid #3f3f3f
}

.mfp-arrow-right {
  right:0
}

.mfp-arrow-right:after,.mfp-arrow-right .mfp-a {
  border-left:17px solid #fff;
  margin-left:39px
}

.mfp-arrow-right:before,.mfp-arrow-right .mfp-b {
  border-left:27px solid #3f3f3f
}

.mfp-iframe-holder {
  padding-top:40px;
  padding-bottom:40px
}

.mfp-iframe-holder .mfp-content {
  line-height:0;
  width:100%;
  max-width:900px
}

.mfp-iframe-holder .mfp-close {
  top:-40px
}

.mfp-iframe-scaler {
  width:100%;
  height:0;
  overflow:hidden;
  padding-top:56.25%
}

.mfp-iframe-scaler iframe {
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow:0 0 8px rgba(0,0,0,0.6);
  background:#000
}

/* Main image in popup */
img.mfp-img {
  width:auto;
  max-width:100%;
  height:auto;
  display:block;
  line-height:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:40px 0;
  margin:0 auto
}

/* The shadow behind the image */
.mfp-figure {
  line-height:0
}

.mfp-figure:after {
  content:'';
  position:absolute;
  left:0;
  top:40px;
  bottom:40px;
  display:block;
  right:0;
  width:auto;
  height:auto;
  z-index:-1;
  box-shadow: none;
  background: none;
}

.mfp-figure small {
  color:#bdbdbd;
  display:block;
  font-size:12px;
  line-height:14px
}

.mfp-figure figure {
  margin:0
}

.mfp-bottom-bar {
  margin-top:-36px;
  position:absolute;
  top:100%;
  left:0;
  width:100%;
  cursor:auto;
}

.mfp-title {
  text-align:left;
  line-height:18px;
  color:#f3f3f3;
  word-wrap:break-word;
  padding-right:36px
}

.mfp-image-holder .mfp-content {
  max-width:100%
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor:pointer
}

.mfp-ie7 .mfp-img {
  padding:0
}

.mfp-ie7 .mfp-bottom-bar {
  width:600px;
  left:50%;
  margin-left:-300px;
  margin-top:5px;
  padding-bottom:5px
}

.mfp-ie7 .mfp-container {
  padding:0
}

.mfp-ie7 .mfp-content {
  padding-top:44px
}

.mfp-ie7 .mfp-close {
  top:0;
  right:0;
  padding-top:0
}

@media all and (max-width: 900px) {
.mfp-arrow {
  -webkit-transform:scale(0.75);
  transform:scale(0.75)
}

.mfp-arrow-left {
  -webkit-transform-origin:0;
  transform-origin:0
}

.mfp-arrow-right {
  -webkit-transform-origin:100%;
  transform-origin:100%
}

.mfp-container {
  padding-left:6px;
  padding-right:6px
}
}

@media screen and (max-width: 800px) and (orientation: landscape),screen and (max-height: 300px) {
.mfp-img-mobile .mfp-image-holder {
  padding-left:0;
  padding-right:0
}

.mfp-img-mobile img.mfp-img {
  padding:0
}

.mfp-img-mobile .mfp-figure:after {
  top:0;
  bottom:0
}

.mfp-img-mobile .mfp-figure small {
  display:inline;
  margin-left:5px
}

.mfp-img-mobile .mfp-bottom-bar {
  background:rgba(0,0,0,0.6);
  bottom:0;
  margin:0;
  top:auto;
  padding:3px 5px;
  position:fixed;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

.mfp-img-mobile .mfp-bottom-bar:empty {
  padding:0
}

.mfp-img-mobile .mfp-counter {
  right:5px;
  top:3px
}

.mfp-img-mobile .mfp-close {
  top:0;
  right:0;
  width:35px;
  height:35px;
  line-height:35px;
  background:rgba(0,0,0,0.6);
  position:fixed;
  text-align:center;
  padding:0
}
}

.mfp-wrap figure, .mfp-wrap.mfp-ready.mfp-removing figure {
  opacity: 0;
  position: relative;
  top: -20px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
}

.mfp-wrap.mfp-ready figure {
  opacity: 1;
  position: relative;
  top: 0px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0)
}

.mfp-bg, .mfp-bg.mfp-ready.mfp-removing {
  opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.mfp-bg.mfp-ready {
  opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}



/*-----------------------------------------------------------------------------------*/


/*  TOUCH CAROUSEL
/*-----------------------------------------------------------------------------------*/

.touch-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.touch-carousel .carousel-control {
    display: none!important
}

.touch-carousel .carousel-indicators {
    bottom: 10px
}

.touch-carousel .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin: 1px 5px
}

.touch-carousel .carousel-indicators li.active {
    margin: 0 5px;
    width: 18px;
    height: 18px
}

.touch-carousel .carousel-inner {
    overflow: hidden;
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.touch-carousel .carousel-inner>.item {
    position: relative;
    float: left;
    display: block;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

.touch-carousel .carousel-inner>.item * {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none
}

.touch-carousel .carousel-inner.animate {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear
}


/*-----------------------------------------------------------------------------------*/


/* YTPLAYER
/*-----------------------------------------------------------------------------------*/

.mb_YTPlayer:focus {
    outline: 0;
}

.mb_YTPlayer {
    display: block;
    transform: translateZ(0);
    transform-style: preserve-3d;
    perspective: 1000;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    animation-timing-function: linear;
    box-sizing: border-box;
}

.mb_YTPlayer.fullscreen {
    display: block!important;
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    border: none !important;
}

.mb_YTPlayer.fullscreen .mbYTP_wrapper {
    opacity: 1 !important;
}

.mbYTP_wrapper iframe {
    max-width: 4000px !important;
}

.inline_YTPlayer {
    margin-bottom: 20px;
    vertical-align: top;
    position: relative;
    left: 0;
    overflow: hidden;
    border-radius: 4px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, .5);
}

.inline_YTPlayer img {
    border: none!important;
    -moz-transform: none!important;
    -webkit-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
    margin: 0!important;
    padding: 0!important
}


/*CONTROL BAR*/

.mb_YTPBar .ytpicon {
    font-size: 20px;
    font-family: 'ytpregular';
}

.mb_YTPBar .mb_YTPUrl.ytpicon {
    font-size: 30px;
}

.mb_YTPBar {
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    display: block;
    width: 100%;
    height: 10px;
    padding: 5px;
    background: #333;
    position: fixed;
    bottom: 0;
    left: 0;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    text-align: left;
    z-index: 1000;
    font: 14px/16px sans-serif;
    color: white;
    opacity: .1;
}

.mb_YTPBar.visible,
.mb_YTPBar:hover {
    opacity: 1;
}

.mb_YTPBar .buttonBar {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    background: transparent;
    font: 12px/14px Calibri;
    position: absolute;
    top: -30px;
    left: 0;
    padding: 5px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.mb_YTPBar:hover .buttonBar {
    background: rgba(0, 0, 0, 0.4);
}

.mb_YTPBar span {
    display: inline-block;
    font: 16px/20px Calibri, sans-serif;
    position: relative;
    width: 30px;
    height: 25px;
    vertical-align: middle;
}

.mb_YTPBar span.mb_YTPTime {
    width: 130px;
}

.mb_YTPBar span.mb_YTPUrl,
.mb_YTPBar span.mb_OnlyYT {
    position: absolute;
    width: auto;
    display: block;
    top: 6px;
    right: 10px;
    cursor: pointer;
}

.mb_YTPBar span.mb_YTPUrl img {
    width: 60px;
}

.mb_YTPBar span.mb_OnlyYT {
    left: 185px;
    right: auto;
}

.mb_YTPBar span.mb_OnlyYT img {
    width: 25px;
}

.mb_YTPBar span.mb_YTPUrl a {
    color: white;
}

.mb_YTPPlaypause,
.mb_YTPlayer .mb_YTPPlaypause img {
    cursor: pointer;
}

.mb_YTPMuteUnmute {
    cursor: pointer;
}


/*PROGRESS BAR*/

.mb_YTPProgress {
    height: 10px;
    width: 100%;
    background: #222;
    bottom: 0;
    left: 0;
}

.mb_YTPLoaded {
    height: 10px;
    width: 0;
    background: #444;
    left: 0;
}

.mb_YTPseekbar {
    height: 10px;
    width: 0;
    background: #fff;
    bottom: 0;
    left: 0;
    box-shadow: rgba(82, 82, 82, 0.47) 1px 1px 3px;
}

.YTPOverlay {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: "flat";
    box-sizing: border-box;
}


/* ROTATOR */

.rotating {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
    -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
    -o-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-origin-x: 50%;
}

.rotating.flip {
    position: relative;
}

.rotating .front,
.rotating .back {
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.rotating .front {
    position: absolute;
    display: inline-block;
    -webkit-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
    z-index: 1;
}

.rotating .back {
    display: block;
    opacity: 0;
}

.rotating.spin {
    -webkit-transform: rotate(360deg) scale(0);
    -moz-transform: rotate(360deg) scale(0);
    -ms-transform: rotate(360deg) scale(0);
    -o-transform: rotate(360deg) scale(0);
    transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
    z-index: 2;
    display: block;
    opacity: 1;
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
    -o-transform: rotateX(180deg) translate3d(0, 0, 0);
    transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
    -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
    -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
    -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
    transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.mouse {
    height: 40px;
    border-radius: 10px;
    transform: none;
    border: 2px solid white;
    width: 28px;
    margin: 60px auto 0;
    display: block;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
}

.wheel {
    -webkit-animation: mouse-wheel 1.2s ease infinite;
    -moz-animation: mouse-wheel 1.2s ease infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    50% {
        top: 2px;
    }
    100% {
        top: 3px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


/***************************************\

    jquery.kyco.easyshare
    =====================

    Version 1.1.2

    Brought to you by
    http://www.kycosoftware.com

    Copyright 2016 Cornelius Weidmann

    Distributed under the GPL

\***************************************/

[data-easyshare] * {
    box-sizing: border-box
}

[data-easyshare] {
    position: relative;
    height: 24px
}

[data-easyshare] [data-easyshare-button] {
    display: block;
    float: left;
    margin: 0;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    border: 0;
    border-radius: 2px;
    text-transform: uppercase;
    color: #444;
    background-color: transparent;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer
}

[data-easyshare] [data-easyshare-button]:hover+[data-easyshare-button-count] {
    border-color: #959595
}

[data-easyshare] [data-easyshare-button]:hover+[data-easyshare-button-count]:before {
    border-right-color: #959595
}

[data-easyshare] [data-easyshare-button="total"] {
    cursor: default
}

[data-easyshare] [data-easyshare-button="facebook"] {
    border: 1px solid #3b5998;
    background-color: transparent;
    color: #3b5998;
}

[data-easyshare] [data-easyshare-button="facebook"]:hover {
    background-color: transparent;
}

[data-easyshare] [data-easyshare-button="twitter"] {
    border: 1px solid #00aced;
    background-color: transparent;
    color: #00aced;
}

[data-easyshare] [data-easyshare-button="twitter"]:hover {
    background-color: transparent;
}

[data-easyshare] [data-easyshare-button="google"] {
    border: 1px solid #d34836;
    background-color: transparent;
    color: #d34836;
}

[data-easyshare] [data-easyshare-button="google"]:hover {
    background-color: transparent;
}

[data-easyshare] [data-easyshare-total-count],
[data-easyshare] [data-easyshare-button-count] {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0 7px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #888;
    border-radius: 2px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #555;
    cursor: default;
    opacity: 0;
}

[data-easyshare] [data-easyshare-total-count]:before,
[data-easyshare] [data-easyshare-total-count]:after,
[data-easyshare] [data-easyshare-button-count]:before,
[data-easyshare] [data-easyshare-button-count]:after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    width: 0
}

[data-easyshare] [data-easyshare-total-count]:before,
[data-easyshare] [data-easyshare-button-count]:before {
    top: 5px;
    left: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #888
}

[data-easyshare] [data-easyshare-total-count]:after,
[data-easyshare] [data-easyshare-button-count]:after {
    top: 6px;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff
}

[data-easyshare] [data-easyshare-loader] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px
}

.no-item-padding .owl-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/*-----------------------------------------------------------------------------------*/


/*  METISMENU CSS
/*-----------------------------------------------------------------------------------*/

.arrow {
    float: right;
    line-height: 1.42857;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}


/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    //filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}

@charset "UTF-8";

/*
 * jQuery FlexPanel v1.1
 * https://github.com/dcooney/flexpanel
 *
 * Copyright 2016 Connekt Media - http://connekthq.com/flexpanel
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Author: Darren Cooney
 * Twitter: @KaptonKaos
*/

body.boxed-layout.flexpanel-active.flexpanel-right .master-wrapper, body.boxed-layout.flexpanel-active.flexpanel-right .master-wrapper .navbar-fixed-top {
    left: 0;
    opacity: 01;
    filter: alpha(opacity=40);
}

.master-wrapper {
    width: 100%;
    position: relative;
    background: #f2ecea;
}
.jumbotron{
       background: #f2ecea;
    }

.master-wrapper {
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
}

.flexpanel {
    position: fixed;
    top: 0;
    right: -340px;
    width: 340px;
    height: 102%;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    .flexpanel {
        right: -50%;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .flexpanel {
        right: -80%;
        width: 80%;
    }
}

.flexpanel .viewport-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    min-width: 340px;
}

.flexpanel .viewport {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    background: #292929;
    -webkit-box-sizing: border-box;
    /* webkit */
    -khtml-box-sizing: border-box;
    /* konqueror */
    -moz-box-sizing: border-box;
    /* firefox */
    -ms-box-sizing: border-box;
    /* ie */
    box-sizing: border-box;
    /* css3 */
    padding: 30px 0 30px 25px;
}

.flexpanel .viewport.smooth {
    -webkit-overflow-scrolling: touch;
}

.flexpanel div.navigation {
    padding: 10px 10px 80px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.flexpanel div.navigation ul {
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.flexpanel div.navigation ul li {
    margin: 0 3%;
    padding: 0;
    clear: both;
    list-style: none;
    width: auto;
    display: block;
    font-size: 18px;
    border-bottom: 1px solid #333;
}

.flexpanel div.navigation ul li:first-child {
    border-top: none;
}

.flexpanel div.navigation ul li ul {
    margin: 0;
    border: none;
}

.flexpanel div.navigation ul li ul li {
    font-size: 14px;
    margin: 0 5px 5px;
    border: none;
    position: relative;
}

.flexpanel div.navigation ul li ul li a {
    padding: 6px 12px;
}

.flexpanel div.navigation ul li ul li a:hover {
    color: #ccc;
}

.flexpanel div.navigation ul li ul li a:before {
    content: '»';
    position: absolute;
    left: 0;
    top: 5px;
    opacity: 0.5;
    color: #9edeff;
}

.flexpanel div.navigation ul li a {
    padding: 10px 0;
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flexpanel div.navigation ul li a:hover {
    color: #ccc;
}

.flexpanel div.navigation ul li.active > a {
    color: #ef6f6f !important;
    font-weight: bold;
}

.flex-btn {
    width: 34px;
    height: 33px;
    position: absolute;
    left: -52px;
    top: 25px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.flex-btn:active {
    background: #ccc;
}

.flex-btn.in-view {
    opacity: 1;
    filter: alpha(opacity=100);
}

.flex-btn span {
    width: 20px;
    height: 3px;
    display: block;
    overflow: hidden;
    background-color: #666;
    text-indent: -9999px;
    display: block;
    margin: 0 auto 3px;
    clear: both;
    -webkit-transition: all 0.2s ease 0.35s;
    -moz-transition: all 0.2s ease 0.35s;
    -ms-transition: all 0.2s ease 0.35s;
    transition: all 0.2s ease 0.35s;
    position: absolute;
}

.flex-btn span.one {
    top: 9px;
    left: 7px;
}

.flex-btn span.two {
    top: 15px;
    left: 7px;
}

.flex-btn span.three {
    top: 21px;
    left: 7px;
}

.flex-btn:hover span {
    background-color: #333;
}

.flexpanel-active .flex-btn {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.flexpanel-active .flex-btn span {
    background-color: #222;
}

.flexpanel-active .flex-btn span.two {
    opacity: 0;
}

.flexpanel-active .flex-btn span.one {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
}

.flexpanel-active .flex-btn span.three {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
}

body.flexpanel-left .flexpanel {
    right: auto;
    left: -40%;
    width: 40%;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-left .flexpanel {
        right: auto;
        left: -50%;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-left .flexpanel {
        right: auto;
        left: -80%;
        width: 80%;
    }
}

body.flexpanel-left .flexpanel .flex-btn {
    left: auto;
    right: -48px;
}

body.flexpanel-active.flexpanel-left .master-wrapper {
    -webkit-transform: translate(340px, 0);
    -moz-transform: translate(340px, 0);
    -ms-transform: translate(340px, 0);
    transform: translate(340px, 0);
    opacity: 0.7;
    filter: alpha(opacity=70);
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-active.flexpanel-left .master-wrapper {
        -webkit-transform: translate(50%, 0);
        -moz-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
        transform: translate(50%, 0);
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-active.flexpanel-left .master-wrapper {
        -webkit-transform: translate(80%, 0);
        -moz-transform: translate(80%, 0);
        -ms-transform: translate(80%, 0);
        transform: translate(80%, 0);
    }
}

body.flexpanel-active.flexpanel-left .flexpanel {
    left: -40%;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-active.flexpanel-left .flexpanel {
        left: -50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-active.flexpanel-left .flexpanel {
        left: -80%;
    }
}

body.flexpanel-active.flexpanel-left .flexpanel .viewport-wrap {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

body.flexpanel-active.flexpanel-right .master-wrapper {
    left: -340px;
    opacity: 1;
    filter: alpha(opacity=100);
}

body.flexpanel-active.flexpanel-right .parallax-mirror {
    left: -340px;
    opacity: 1;
    filter: alpha(opacity=100)
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-active.flexpanel-right #wrapper {
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-active.flexpanel-right #wrapper {
        -webkit-transform: translate(-80%, 0);
        -moz-transform: translate(-80%, 0);
        -ms-transform: translate(-80%, 0);
        transform: translate(-80%, 0);
    }
}

body.flexpanel-active.flexpanel-right .flexpanel {
    right: -340px;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-active.flexpanel-right .flexpanel {
        right: -50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-active.flexpanel-right .flexpanel {
        right: -80%;
    }
}

body.flexpanel-active.flexpanel-right .flexpanel .viewport-wrap {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

body.isIE.flexpanel-right #wrapper {
    left: -40%;
}

body.isIE.flexpanel-right .flexpanel {
    right: 0;
}

body.isIE.flexpanel-left.flexpanel-active #wrapper {
    left: 40%;
}

body.isIE.flexpanel-left.flexpanel-active .flexpanel {
    left: 0;
}

body.flexpanel-reveal #wrapper {
    z-index: 1;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

body.flexpanel-reveal.flexpanel-right #wrapper {
    right: auto;
    left: 0;
}

body.flexpanel-reveal.flexpanel-right .flexpanel {
    right: -100%;
    z-index: 0;
}

body.flexpanel-reveal.flexpanel-right .flexpanel.reveal {
    right: 0;
}

body.flexpanel-reveal.flexpanel-right .flex-btn {
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    margin: 20px;
    z-index: 999;
}

body.flexpanel-reveal.flexpanel-right.flexpanel-active #wrapper {
    left: -40%;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-reveal.flexpanel-right.flexpanel-active #wrapper {
        left: -50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-reveal.flexpanel-right.flexpanel-active #wrapper {
        left: -80%;
    }
}

body.flexpanel-reveal.flexpanel-right.flexpanel-active .flex-btn {
    right: 40%;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-reveal.flexpanel-right.flexpanel-active .flex-btn {
        right: 50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-reveal.flexpanel-right.flexpanel-active .flex-btn {
        right: 80%;
    }
}

body.flexpanel-reveal.flexpanel-right.flexpanel-active .flexpanel {
    right: 0;
}

body.flexpanel-reveal.flexpanel-right.flexpanel-active .flexpanel.reveal {
    right: 0;
}

body.flexpanel-reveal.flexpanel-right.flexpanel-active .flexpanel .viewport-wrap {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

body.flexpanel-reveal.flexpanel-left #wrapper {
    right: auto;
    left: 0;
}

body.flexpanel-reveal.flexpanel-left .flexpanel {
    right: auto;
    left: 0;
    z-index: 0;
}

body.flexpanel-reveal.flexpanel-left .flexpanel.reveal {
    left: 0;
}

body.flexpanel-reveal.flexpanel-left .flex-btn {
    position: fixed;
    right: auto;
    left: 0;
    top: 0;
    margin: 20px;
    z-index: 999;
}

body.flexpanel-reveal.flexpanel-left.flexpanel-active #wrapper {
    left: 40%;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-reveal.flexpanel-left.flexpanel-active #wrapper {
        left: 50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-reveal.flexpanel-left.flexpanel-active #wrapper {
        left: 80%;
    }
}

body.flexpanel-reveal.flexpanel-left.flexpanel-active .flex-btn {
    left: 40%;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
    body.flexpanel-reveal.flexpanel-left.flexpanel-active .flex-btn {
        left: 50%;
    }
}

@media screen and (max-width: 768px) {
    body.flexpanel-reveal.flexpanel-left.flexpanel-active .flex-btn {
        left: 80%;
    }
}

body.flexpanel-reveal.flexpanel-left.flexpanel-active .flexpanel {
    left: 0;
}

body.flexpanel-reveal.flexpanel-left.flexpanel-active .flexpanel.reveal {
    left: 0;
}

body.flexpanel-reveal.flexpanel-left.flexpanel-active .flexpanel .viewport-wrap {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

body.flexpanel-hide .flex-btn,
body.flexpanel-hide .flexpanel {
    display: none;
}

.flexpanel .viewport * {
    color: #fff;
}

.master-wrapper .navbar-fixed-top {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body.flexpanel-active.flexpanel-right .master-wrapper .navbar-fixed-top {
    opacity: 0;
    left: -340px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/



/*
CONTENTS:
    1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited).
    2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar.
    3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
    4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars.
    5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars.
    6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS
        6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/



/*
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE
------------------------------------------------------------------------------------------------------------------------
*/

    .mCustomScrollbar{ -ms-touch-action: pinch-zoom; touch-action: pinch-zoom; /* direct pointer events to js */ }
    .mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{ -ms-touch-action: auto; touch-action: auto; }

    .mCustomScrollBox{ /* contains plugin's markup */
        position: relative;
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        outline: none;
        direction: ltr;
    }

    .mCSB_container{ /* contains the original content */
        overflow: hidden;
        width: auto;
        height: auto;
    }



/*
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR
y-axis
------------------------------------------------------------------------------------------------------------------------
*/

    .mCSB_inside > .mCSB_container{ margin-right: 0px; }

    .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */

    .mCS-dir-rtl > .mCSB_inside > .mCSB_container{ /* RTL direction/left-side scrollbar */
        margin-right: 0;
        margin-left: 30px;
    }

    .mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */

    .mCSB_scrollTools{ /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
        position: absolute;
        width: 16px;
        height: auto;
        left: auto;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */

    .mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
    .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ /* RTL direction/left-side scrollbar */
        right: auto;
        left: 0;
    }

    .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */

    .mCSB_scrollTools .mCSB_draggerContainer{ /* contains the draggable element and dragger rail markup */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
    }

    .mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }

    .mCSB_scrollTools .mCSB_draggerRail{
        width: 2px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
    }

    .mCSB_scrollTools .mCSB_dragger{ /* the draggable element */
        cursor: pointer;
        width: 100%;
        height: 30px; /* minimum dragger height */
        z-index: 1;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ /* the dragger element */
        position: relative;
        width: 4px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
        text-align: center;
    }

    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px; /* auto-expanded scrollbar */ }

    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px; /* auto-expanded scrollbar */ }

    .mCSB_scrollTools .mCSB_buttonUp,
    .mCSB_scrollTools .mCSB_buttonDown{
        display: block;
        position: absolute;
        height: 20px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        cursor: pointer;
    }

    .mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }



/*
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR
x-axis
------------------------------------------------------------------------------------------------------------------------
*/

    .mCSB_horizontal.mCSB_inside > .mCSB_container{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .mCSB_horizontal.mCSB_outside > .mCSB_container{ min-height: 100%; }

    .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden{ margin-bottom: 0; } /* non-visible scrollbar */

    .mCSB_scrollTools.mCSB_scrollTools_horizontal{
        width: auto;
        height: 16px;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
    .mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{ bottom: -26px; } /* scrollbar position: outside */

    .mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer{ margin: 0 20px; }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        width: 100%;
        height: 2px;
        margin: 7px 0;
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger{
        width: 30px; /* minimum dragger width */
        height: 100%;
        left: 0;
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        width: 100%;
        height: 4px;
        margin: 6px auto;
    }

    .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{
        height: 12px; /* auto-expanded scrollbar */
        margin: 2px auto;
    }

    .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{
        height: 8px; /* auto-expanded scrollbar */
        margin: 4px 0;
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{
        display: block;
        position: absolute;
        width: 20px;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        cursor: pointer;
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft{ left: 0; }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight{ right: 0; }



/*
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS
yx-axis
------------------------------------------------------------------------------------------------------------------------
*/

    .mCSB_container_wrapper{
        position: absolute;
        height: auto;
        width: auto;
        overflow: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .mCSB_container_wrapper > .mCSB_container{
        padding-right: 30px;
        padding-bottom: 30px;
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    }

    .mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical{ bottom: 20px; }

    .mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ right: 20px; }

    /* non-visible horizontal scrollbar */
    .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical{ bottom: 0; }

    /* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
    .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
    .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ right: 0; }

    /* RTL direction/left-side scrollbar */
    .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ left: 20px; }

    /* non-visible scrollbar/RTL direction/left-side scrollbar */
    .mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal{ left: 0; }

    .mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper{ /* RTL direction/left-side scrollbar */
        margin-right: 0;
        margin-left: 30px;
    }

    .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container{ padding-right: 0; }

    .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container{ padding-bottom: 0; }

    .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden{
        margin-right: 0; /* non-visible scrollbar */
        margin-left: 0;
    }

    /* non-visible horizontal scrollbar */
    .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden{ margin-bottom: 0; }



/*
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS
------------------------------------------------------------------------------------------------------------------------
*/

    .mCSB_scrollTools,
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_buttonUp,
    .mCSB_scrollTools .mCSB_buttonDown,
    .mCSB_scrollTools .mCSB_buttonLeft,
    .mCSB_scrollTools .mCSB_buttonRight{
        -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    }

    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
    .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
    .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
        -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s,
                    margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
                    margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
                    opacity .2s ease-in-out, background-color .2s ease-in-out;
        -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s,
                    margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
                    margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
                    opacity .2s ease-in-out, background-color .2s ease-in-out;
        -o-transition: width .2s ease-out .2s, height .2s ease-out .2s,
                    margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
                    margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
                    opacity .2s ease-in-out, background-color .2s ease-in-out;
        transition: width .2s ease-out .2s, height .2s ease-out .2s,
                    margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
                    margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
                    opacity .2s ease-in-out, background-color .2s ease-in-out;
    }



/*
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS
------------------------------------------------------------------------------------------------------------------------
*/

    /*
    ----------------------------------------
    6.1 THEMES
    ----------------------------------------
    */

    /* default theme ("light") */

    .mCSB_scrollTools{ opacity: 0.75; filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }

    .mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
    .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 0; filter: "alpha(opacity=0)"; -ms-filter: "alpha(opacity=0)"; }

    .mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
    .mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
    .mCustomScrollBox:hover > .mCSB_scrollTools,
    .mCustomScrollBox:hover ~ .mCSB_scrollTools,
    .mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
    .mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{ opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }

    .mCSB_scrollTools .mCSB_draggerRail{
        background-color: #000; background-color: rgba(0,0,0,0.4);
        filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)";
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: #fff; background-color: rgba(255,255,255,0.75);
        filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)";
    }

    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
        background-color: #fff; background-color: rgba(255,255,255,0.85);
        filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)";
    }
    .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
        background-color: #fff; background-color: rgba(255,255,255,0.9);
        filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)";
    }

    .mCSB_scrollTools .mCSB_buttonUp,
    .mCSB_scrollTools .mCSB_buttonDown,
    .mCSB_scrollTools .mCSB_buttonLeft,
    .mCSB_scrollTools .mCSB_buttonRight{
        /*background-image: url(mCSB_buttons.png); !* css sprites *!*/
        background-repeat: no-repeat;
        opacity: 0.4; filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)";
    }

    .mCSB_scrollTools .mCSB_buttonUp{
        background-position: 0 0;
        /*
        sprites locations
        light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
        dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px
        */
    }

    .mCSB_scrollTools .mCSB_buttonDown{
        background-position: 0 -20px;
        /*
        sprites locations
        light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
        dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px
        */
    }

    .mCSB_scrollTools .mCSB_buttonLeft{
        background-position: 0 -40px;
        /*
        sprites locations
        light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
        dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px
        */
    }

    .mCSB_scrollTools .mCSB_buttonRight{
        background-position: 0 -56px;
        /*
        sprites locations
        light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
        dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px
        */
    }

    .mCSB_scrollTools .mCSB_buttonUp:hover,
    .mCSB_scrollTools .mCSB_buttonDown:hover,
    .mCSB_scrollTools .mCSB_buttonLeft:hover,
    .mCSB_scrollTools .mCSB_buttonRight:hover{ opacity: 0.75; filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }

    .mCSB_scrollTools .mCSB_buttonUp:active,
    .mCSB_scrollTools .mCSB_buttonDown:active,
    .mCSB_scrollTools .mCSB_buttonLeft:active,
    .mCSB_scrollTools .mCSB_buttonRight:active{ opacity: 0.9; filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; }


    /* theme: "dark" */

    .mCS-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.15); }

    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.75); }

    .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: rgba(0,0,0,0.85); }

    .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: rgba(0,0,0,0.9); }

    .mCS-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -80px 0; }

    .mCS-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -80px -20px; }

    .mCS-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -80px -40px; }

    .mCS-dark.mCSB_scrollTools .mCSB_buttonRight{ background-position: -80px -56px; }

    /* ---------------------------------------- */



    /* theme: "light-2", "dark-2" */

    .mCS-light-2.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail{
        width: 4px;
        background-color: #fff; background-color: rgba(255,255,255,0.1);
        -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
    }

    .mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        width: 4px;
        background-color: #fff; background-color: rgba(255,255,255,0.75);
        -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
    }

    .mCS-light-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-light-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        width: 100%;
        height: 4px;
        margin: 6px auto;
    }

    .mCS-light-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.85); }

    .mCS-light-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-light-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.9); }

    .mCS-light-2.mCSB_scrollTools .mCSB_buttonUp{ background-position: -32px 0; }

    .mCS-light-2.mCSB_scrollTools .mCSB_buttonDown{ background-position: -32px -20px; }

    .mCS-light-2.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -40px -40px; }

    .mCS-light-2.mCSB_scrollTools .mCSB_buttonRight{ background-position: -40px -56px; }


    /* theme: "dark-2" */

    .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail{
        background-color: #000; background-color: rgba(0,0,0,0.1);
        -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
    }

    .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: #000; background-color: rgba(0,0,0,0.75);
        -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px;
    }

    .mCS-dark-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-dark-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-dark-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp{ background-position: -112px 0; }

    .mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown{ background-position: -112px -20px; }

    .mCS-dark-2.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -120px -40px; }

    .mCS-dark-2.mCSB_scrollTools .mCSB_buttonRight{ background-position: -120px -56px; }

    /* ---------------------------------------- */



    /* theme: "light-thick", "dark-thick" */

    .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail{
        width: 4px;
        background-color: #fff; background-color: rgba(255,255,255,0.1);
        -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
    }

    .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        width: 6px;
        background-color: #fff; background-color: rgba(255,255,255,0.75);
        -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
    }

    .mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        width: 100%;
        height: 4px;
        margin: 6px 0;
    }

    .mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        width: 100%;
        height: 6px;
        margin: 5px auto;
    }

    .mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.85); }

    .mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-light-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.9); }

    .mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp{ background-position: -16px 0; }

    .mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown{ background-position: -16px -20px; }

    .mCS-light-thick.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -20px -40px; }

    .mCS-light-thick.mCSB_scrollTools .mCSB_buttonRight{ background-position: -20px -56px; }


    /* theme: "dark-thick" */

    .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail{
        background-color: #000; background-color: rgba(0,0,0,0.1);
        -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
    }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: #000; background-color: rgba(0,0,0,0.75);
        -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
    }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_buttonUp{ background-position: -96px 0; }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_buttonDown{ background-position: -96px -20px; }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -100px -40px; }

    .mCS-dark-thick.mCSB_scrollTools .mCSB_buttonRight{ background-position: -100px -56px; }

    /* ---------------------------------------- */



    /* theme: "light-thin", "dark-thin" */

    .mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail{ background-color: #fff; background-color: rgba(255,255,255,0.1); }

    .mCS-light-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 2px; }

    .mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail{ width: 100%; }

    .mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        width: 100%;
        height: 2px;
        margin: 7px auto;
    }


    /* theme "dark-thin" */

    .mCS-dark-thin.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.15); }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.75); }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_buttonUp{ background-position: -80px 0; }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_buttonDown{ background-position: -80px -20px; }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -80px -40px; }

    .mCS-dark-thin.mCSB_scrollTools .mCSB_buttonRight{ background-position: -80px -56px; }

    /* ---------------------------------------- */



    /* theme "rounded", "rounded-dark", "rounded-dots", "rounded-dots-dark" */

    .mCS-rounded.mCSB_scrollTools .mCSB_draggerRail{ background-color: #fff; background-color: rgba(255,255,255,0.15); }

    .mCS-rounded.mCSB_scrollTools .mCSB_dragger,
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger,
    .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger{ height: 14px; }

    .mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        width: 14px;
        margin: 0 1px;
    }

    .mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger,
    .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger,
    .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger,
    .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger{ width: 14px; }

    .mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        height: 14px;
        margin: 1px 0;
    }

    .mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{
        width: 16px; /* auto-expanded scrollbar */
        height: 16px;
        margin: -1px 0;
    }

    .mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
    .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 4px; /* auto-expanded scrollbar */ }

    .mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{
        height: 16px; /* auto-expanded scrollbar */
        width: 16px;
        margin: 0 -1px;
    }

    .mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
    .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{
        height: 4px; /* auto-expanded scrollbar */
        margin: 6px 0;
    }

    .mCS-rounded.mCSB_scrollTools .mCSB_buttonUp{ background-position: 0 -72px; }

    .mCS-rounded.mCSB_scrollTools .mCSB_buttonDown{ background-position: 0 -92px; }

    .mCS-rounded.mCSB_scrollTools .mCSB_buttonLeft{ background-position: 0 -112px; }

    .mCS-rounded.mCSB_scrollTools .mCSB_buttonRight{ background-position: 0 -128px; }


    /* theme "rounded-dark", "rounded-dots-dark" */

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.75); }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.15); }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -80px -72px; }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -80px -92px; }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -80px -112px; }

    .mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonRight{ background-position: -80px -128px; }


    /* theme "rounded-dots", "rounded-dots-dark" */

    .mCS-rounded-dots.mCSB_scrollTools_vertical .mCSB_draggerRail,
    .mCS-rounded-dots-dark.mCSB_scrollTools_vertical .mCSB_draggerRail{ width: 4px; }

    .mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        background-color: transparent;
        background-position: center;
    }

    .mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail{
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQYV2NkIAAYiVbw//9/Y6DiM1ANJoyMjGdBbLgJQAX/kU0DKgDLkaQAvxW4HEvQFwCRcxIJK1XznAAAAABJRU5ErkJggg==");
        background-repeat: repeat-y;
        opacity: 0.3;
        filter: "alpha(opacity=30)"; -ms-filter: "alpha(opacity=30)";
    }

    .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        height: 4px;
        margin: 6px 0;
        background-repeat: repeat-x;
    }

    .mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonUp{ background-position: -16px -72px; }

    .mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonDown{ background-position: -16px -92px; }

    .mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -20px -112px; }

    .mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonRight{ background-position: -20px -128px; }


    /* theme "rounded-dots-dark" */

    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail{
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYV2NkIAAYSVFgDFR8BqrBBEifBbGRTfiPZhpYjiQFBK3A6l6CvgAAE9kGCd1mvgEAAAAASUVORK5CYII=");
    }

    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -96px -72px; }

    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -96px -92px; }

    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -100px -112px; }

    .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonRight{ background-position: -100px -128px; }

    /* ---------------------------------------- */



    /* theme "3d", "3d-dark", "3d-thick", "3d-thick-dark" */

    .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-repeat: repeat-y;
        background-image: -moz-linear-gradient(left, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
        background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
        background-image: -o-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
        background-image: -ms-linear-gradient(left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
        background-image: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    }

    .mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        background-repeat: repeat-x;
        background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0)));
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
        background-image: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
        background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
    }


    /* theme "3d", "3d-dark" */

    .mCS-3d.mCSB_scrollTools_vertical .mCSB_dragger,
    .mCS-3d-dark.mCSB_scrollTools_vertical .mCSB_dragger{ height: 70px; }

    .mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger,
    .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger{ width: 70px; }

    .mCS-3d.mCSB_scrollTools,
    .mCS-3d-dark.mCSB_scrollTools{
        opacity: 1;
        filter: "alpha(opacity=30)"; -ms-filter: "alpha(opacity=30)";
    }

    .mCS-3d.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }

    .mCS-3d.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail{
        width: 8px;
        background-color: #000; background-color: rgba(0,0,0,0.2);
        box-shadow: inset 1px 0 1px rgba(0,0,0,0.5), inset -1px 0 1px rgba(255,255,255,0.2);
    }

    .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-3d.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-3d.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #555; }

    .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 8px; }

    .mCS-3d.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        width: 100%;
        height: 8px;
        margin: 4px 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), inset 0 -1px 1px rgba(255,255,255,0.2);
    }

    .mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        width: 100%;
        height: 8px;
        margin: 4px auto;
    }

    .mCS-3d.mCSB_scrollTools .mCSB_buttonUp{ background-position: -32px -72px; }

    .mCS-3d.mCSB_scrollTools .mCSB_buttonDown{ background-position: -32px -92px; }

    .mCS-3d.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -40px -112px; }

    .mCS-3d.mCSB_scrollTools .mCSB_buttonRight{ background-position: -40px -128px; }


    /* theme "3d-dark" */

    .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail{
        background-color: #000; background-color: rgba(0,0,0,0.1);
        box-shadow: inset 1px 0 1px rgba(0,0,0,0.1);
    }

    .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail{ box-shadow: inset 0 1px 1px rgba(0,0,0,0.1); }

    .mCS-3d-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -112px -72px; }

    .mCS-3d-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -112px -92px; }

    .mCS-3d-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -120px -112px; }

    .mCS-3d-dark.mCSB_scrollTools .mCSB_buttonRight{    background-position: -120px -128px; }

    /* ---------------------------------------- */



    /* theme: "3d-thick", "3d-thick-dark" */

    .mCS-3d-thick.mCSB_scrollTools,
    .mCS-3d-thick-dark.mCSB_scrollTools{
        opacity: 1;
        filter: "alpha(opacity=30)"; -ms-filter: "alpha(opacity=30)";
    }

    .mCS-3d-thick.mCSB_scrollTools,
    .mCS-3d-thick-dark.mCSB_scrollTools,
    .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer{ -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

    .mCSB_inside + .mCS-3d-thick.mCSB_scrollTools_vertical,
    .mCSB_inside + .mCS-3d-thick-dark.mCSB_scrollTools_vertical{ right: 1px; }

    .mCS-3d-thick.mCSB_scrollTools_vertical,
    .mCS-3d-thick-dark.mCSB_scrollTools_vertical{ box-shadow: inset 1px 0 1px rgba(0,0,0,0.1), inset 0 0 14px rgba(0,0,0,0.5); }

    .mCS-3d-thick.mCSB_scrollTools_horizontal,
    .mCS-3d-thick-dark.mCSB_scrollTools_horizontal{
        bottom: 1px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), inset 0 0 14px rgba(0,0,0,0.5);
    }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        box-shadow: inset 1px 0 0 rgba(255,255,255,0.4);
        width: 12px;
        margin: 2px;
        position: absolute;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{ box-shadow: inset 0 1px 0 rgba(255,255,255,0.4); }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #555; }

    .mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        height: 12px;
        width: auto;
    }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer{
        background-color: #000; background-color: rgba(0,0,0,0.05);
        box-shadow: inset 1px 1px 16px rgba(0,0,0,0.1);
    }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_buttonUp{ background-position: -32px -72px; }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_buttonDown{ background-position: -32px -92px; }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -40px -112px; }

    .mCS-3d-thick.mCSB_scrollTools .mCSB_buttonRight{   background-position: -40px -128px; }


    /* theme: "3d-thick-dark" */

    .mCS-3d-thick-dark.mCSB_scrollTools{ box-shadow: inset 0 0 14px rgba(0,0,0,0.2); }

    .mCS-3d-thick-dark.mCSB_scrollTools_horizontal{ box-shadow: inset 0 1px 1px rgba(0,0,0,0.1), inset 0 0 14px rgba(0,0,0,0.2); }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ box-shadow: inset 1px 0 0 rgba(255,255,255,0.4), inset -1px 0 0 rgba(0,0,0,0.2); }

    .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{ box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 -1px 0 rgba(0,0,0,0.2); }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #777; }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer{
        background-color: #fff; background-color: rgba(0,0,0,0.05);
        box-shadow: inset 1px 1px 16px rgba(0,0,0,0.1);
    }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -112px -72px; }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -112px -92px; }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -120px -112px; }

    .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonRight{  background-position: -120px -128px; }

    /* ---------------------------------------- */



    /* theme: "minimal", "minimal-dark" */

    .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
    .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{
        right: 0;
        margin: 12px 0;
    }

    .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
    .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
    .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
    .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{
        bottom: 0;
        margin: 0 12px;
    }

    /* RTL direction/left-side scrollbar */
    .mCS-dir-rtl > .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
    .mCS-dir-rtl > .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{
        left: 0;
        right: auto;
    }

    .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; }

    .mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger,
    .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger{ height: 50px; }

    .mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger,
    .mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger{ width: 50px; }

    .mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: #fff; background-color: rgba(255,255,255,0.2);
        filter: "alpha(opacity=20)"; -ms-filter: "alpha(opacity=20)";
    }

    .mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
        background-color: #fff; background-color: rgba(255,255,255,0.5);
        filter: "alpha(opacity=50)"; -ms-filter: "alpha(opacity=50)";
    }


    /* theme: "minimal-dark" */

    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background-color: #000; background-color: rgba(0,0,0,0.2);
        filter: "alpha(opacity=20)"; -ms-filter: "alpha(opacity=20)";
    }

    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
        background-color: #000; background-color: rgba(0,0,0,0.5);
        filter: "alpha(opacity=50)"; -ms-filter: "alpha(opacity=50)";
    }

    /* ---------------------------------------- */



    /* theme "light-3", "dark-3" */

    .mCS-light-3.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{
        width: 6px;
        background-color: #000; background-color: rgba(0,0,0,0.2);
    }

    .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 6px; }

    .mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        width: 100%;
        height: 6px;
        margin: 5px 0;
    }

    .mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
    .mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{
        width: 12px;
    }

    .mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail,
    .mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{
        height: 12px;
        margin: 2px 0;
    }

    .mCS-light-3.mCSB_scrollTools .mCSB_buttonUp{ background-position: -32px -72px; }

    .mCS-light-3.mCSB_scrollTools .mCSB_buttonDown{ background-position: -32px -92px; }

    .mCS-light-3.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -40px -112px; }

    .mCS-light-3.mCSB_scrollTools .mCSB_buttonRight{ background-position: -40px -128px; }


    /* theme "dark-3" */

    .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.75); }

    .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.1); }

    .mCS-dark-3.mCSB_scrollTools .mCSB_buttonUp{ background-position: -112px -72px; }

    .mCS-dark-3.mCSB_scrollTools .mCSB_buttonDown{ background-position: -112px -92px; }

    .mCS-dark-3.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -120px -112px; }

    .mCS-dark-3.mCSB_scrollTools .mCSB_buttonRight{ background-position: -120px -128px; }

    /* ---------------------------------------- */



    /* theme "inset", "inset-dark", "inset-2", "inset-2-dark", "inset-3", "inset-3-dark" */

    .mCS-inset.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail{
        width: 12px;
        background-color: #000; background-color: rgba(0,0,0,0.2);
    }

    .mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        width: 6px;
        margin: 3px 5px;
        position: absolute;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
        height: 6px;
        margin: 5px 3px;
        position: absolute;
        width: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .mCS-inset.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_draggerRail,
    .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail{
        width: 100%;
        height: 12px;
        margin: 2px 0;
    }

    .mCS-inset.mCSB_scrollTools .mCSB_buttonUp,
    .mCS-inset-2.mCSB_scrollTools .mCSB_buttonUp,
    .mCS-inset-3.mCSB_scrollTools .mCSB_buttonUp{ background-position: -32px -72px; }

    .mCS-inset.mCSB_scrollTools .mCSB_buttonDown,
    .mCS-inset-2.mCSB_scrollTools .mCSB_buttonDown,
    .mCS-inset-3.mCSB_scrollTools .mCSB_buttonDown{ background-position: -32px -92px; }

    .mCS-inset.mCSB_scrollTools .mCSB_buttonLeft,
    .mCS-inset-2.mCSB_scrollTools .mCSB_buttonLeft,
    .mCS-inset-3.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -40px -112px; }

    .mCS-inset.mCSB_scrollTools .mCSB_buttonRight,
    .mCS-inset-2.mCSB_scrollTools .mCSB_buttonRight,
    .mCS-inset-3.mCSB_scrollTools .mCSB_buttonRight{ background-position: -40px -128px; }


    /* theme "inset-dark", "inset-2-dark", "inset-3-dark" */

    .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.75); }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.1); }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp{ background-position: -112px -72px; }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown{ background-position: -112px -92px; }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -120px -112px; }

    .mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight{   background-position: -120px -128px; }


    /* theme "inset-2", "inset-2-dark" */

    .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail,
    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail{
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        border-color: rgba(255,255,255,0.2);
        -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    }

    .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail{ border-color: #000; border-color: rgba(0,0,0,0.2); }


    /* theme "inset-3", "inset-3-dark" */

    .mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail{ background-color: #fff; background-color: rgba(255,255,255,0.6); }

    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: #000; background-color: rgba(0,0,0,0.6); }

    .mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.75); }

    .mCS-inset-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.85); }

    .mCS-inset-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-inset-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #000; background-color: rgba(0,0,0,0.9); }

    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.75); }

    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.85); }

    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #fff; background-color: rgba(255,255,255,0.9); }

    /* ---------------------------------------- */



@media all and (min-width: 769px) {

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: -2px !important;
        left: 100% !important;
        margin-top: 0px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
}

@media all and (max-width: 768px) {
  .dropdown.open > .dropdown-menu {
      display: block;
      width: 100%;
      position: static;
  }
  .navbar .dropdown-menu.open-me {
        display: block;
  }
}

.dropdown-submenu>a:after {
    font-family: 'FontAwesome';
    display: block;
    content: "\f105";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: -6px;
    margin-right: -5px;
}
