@charset "UTF-8";


article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

header {
  color: #a9a9a9;
}

p, address{
  color: #f3f3f3!important;
  font-size: 14px!important;
}

audio, canvas, progress, video {
  display: inline-block;

  /* 1 */
  vertical-align: baseline;

  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}


[hidden], template {
  display: none;
}
a {
  background-color: transparent;

  &:active, &:hover {
    outline: 0;
  }
}


abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
  color: inherit;

  /* 1 */
  font: inherit;

  /* 2 */
  margin: 0;

  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
  text-transform: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"] {
  -webkit-appearance: button;

  /* 2 */
  cursor: pointer;

  /* 3 */
}

input {
  &[type="reset"], &[type="submit"] {
    -webkit-appearance: button;

    /* 2 */
    cursor: pointer;

    /* 3 */
  }
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  line-height: normal;

  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;

    /* 1 */
    padding: 0;

    /* 2 */
  }

  &[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      height: auto;
    }
  }

  &[type="search"] {
    -webkit-appearance: textfield;

    /* 1 */
    box-sizing: content-box;

    /* 2 */

    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;

  /* 1 */
  padding: 0;

  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0;
}

abbr[title], dfn[title] {
  cursor: help;
}

address {
  font-style: normal;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

img {
  font-style: italic;
  vertical-align: middle;
}

label {
  display: inline-block;
}

input, button, select {
  line-height: inherit;
  border-radius: 0;
}

textarea {
  line-height: inherit;
  border-radius: 0;
  resize: vertical;
}

fieldset {
  min-width: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  line-height: inherit;
}

input[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before, &::after {
    box-sizing: inherit;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address, hr, table, fieldset, figure, pre, .c-progress-bar {
  margin-bottom: 0.55rem;
}

html {
  font-size: 14px;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1rem;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.75;

  background: #fff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, .c-number, h4, h5, h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h1 small, h2 small, h3 small, .c-number small, h4 small, h5 small, h6 small {
  font-weight: 400;
  font-size: .7em;
}

h2, h3, .c-number {
  font-size: 1.2rem;
  line-height: 1.45;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

hr {
  height: 2px;
  color: #ccc;
  background: #ccc;
  font-size: 0;
  border: 0;
}

ul, ol, dd {
  margin-left: 3.5rem;
  padding: 0;
}

[dir=rtl] {
  ul, ol, dd {
    margin-right: 3.5rem;
  }
}

img {
  max-width: 100%;

  &[width], &[height] {
    max-width: none;
  }
}

.o-list-bare, .c-social-buttons, .c-clients {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

[dir=rtl] {
  .o-list-bare, .c-social-buttons, .c-clients {
    margin-right: 0;
  }
}

.o-list-inline {
  margin-left: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

[dir=rtl] .o-list-inline {
  margin-right: 0;
}

.o-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.o-media__figure {
  margin-right: 1rem;
}

.o-media__body {
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;

  :last-child {
    margin-bottom: 0;
  }
}

.o-media--reverse > .o-media__figure {
  -ms-flex-order: 1;
  order: 1;
  margin-left: 1rem;
  margin-right: 0;
}

.o-media--flush > .o-media__figure {
  margin-left: 0;
  margin-right: 0;
}

.o-media--block > .o-media__figure {
  margin-left: 0;
  margin-right: 0;
  width: 2.8rem;
}

.o-container {
  max-width: 1276px;
  margin: 0 auto;
}

.o-content {
  padding-bottom: 1.75rem;
}

.o-content__body {
  margin-bottom: 0;

  :last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 760px) {
  .o-content {
    padding-bottom: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .o-content {
    padding-bottom: 2.7125rem;
  }
}

.o-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -3.5rem;
  position: relative;
}

.o-grid--gallery {
  margin-right: -1.75rem;
  margin-bottom: -1.75rem;

  [class*="o-grid__col"] {
    padding-right: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

[class*="o-grid__col"] {
  width: 100%;
  padding-right: 3.5rem;
  margin-bottom: 0;
}

.o-grid__col-xs-1 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.08333);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-2 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.16667);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-3 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.25);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-4 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.33333);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-5 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.41667);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-6 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.5);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-7 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.58333);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-8 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.66667);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-9 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.75);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-10 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.83333);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-11 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 0.91667);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

.o-grid__col-xs-12 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(99.999999% * 1);

  &:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(0n) {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: 600px) {
  .o-grid__col-sm-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.08333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.16667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.25);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.33333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.41667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.5);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.58333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.66667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.75);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.83333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.91667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-sm-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 1);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media (min-width: 760px) {
  .o-grid__col-md-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.08333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.16667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.25);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.33333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.41667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.5);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.58333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.66667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.75);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.83333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.91667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-md-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 1);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media (min-width: 1024px) {
  .o-grid__col-lg-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.08333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.16667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.25);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.33333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.41667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.5);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.58333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.66667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.75);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.83333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.91667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-lg-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 1);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

@media (min-width: 1200px) {
  .o-grid__col-xl-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.08333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.16667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.25);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.33333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.41667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.5);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.58333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.66667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.75);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.83333);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 0.91667);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-grid__col-xl-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(99.999999% * 1);

    &:nth-child(1n) {
      margin-right: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(0n) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.o-section__header-bg, .o-section__content-bg {
  display: none;
}

.o-section__header, .o-section__content {
  padding: 1.75rem 1.75rem 0rem;
}

.o-section__full-top-space {
  padding-top: 1.75rem;
}

.o-section__full-bottom-space {
  padding-bottom: 1.75rem;
}

@media (min-width: 760px) {
  .o-section__header {
    padding: 3.15rem 3.5rem 1.4rem;
  }

  .o-section--header .o-section__header {
    padding-bottom: 0;
  }

  .o-section__content {
    padding: 3.15rem 3.5rem 1.4rem;
  }

  .o-section__full-top-space {
    padding-top: 3.15rem;
  }

  .o-section__full-bottom-space {
    padding-bottom: 3.15rem;
  }
}

@media (min-width: 1024px) {
  .o-section {
    position: relative;
  }

  .o-section__container {
    z-index: 2;
    position: relative;
    display: -ms-flexbox;
    display: flex;
  }

  .o-section__header {
    width: 30%;
    text-align: right;
  }

  .o-section__content {
    width: 70%;
  }

  .o-section__header-bg {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
  }

  .o-section__content-bg {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .o-section__header, .o-section__content {
    padding: 4.375rem 5.25rem 1.6625rem;
  }

  .o-section__full-top-space {
    padding-top: 4.375rem;
  }

  .o-section__full-bottom-space {
    padding-bottom: 4.375rem;
  }
}

.js-enabled .js-main-container {
  display: none;
}

.c-main-container {
  overflow-x: hidden;
}

.c-preloader {
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.js-enabled .c-preloader {
  display: -ms-flexbox;
  display: flex;
}

.c-preloader__spinner {
  min-width: 70px;
  min-height: 70px;

  &:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
  }

  &:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 4px solid transparent;
    animation: c-preloader__spinner .8s ease infinite;
    -webkit-animation: c-preloader__spinner .8s ease infinite;
  }
}

@keyframes c-preloader__spinner {
  to {
    transform: rotate(360deg);
  }
}

.c-progress-bar {
  position: relative;
  height: 2px;
}

.c-progress-bar__filler {
  height: 100%;
}

.c-header__top, .c-header__brand, .c-header__contact-divider {
  margin-bottom: 1.75rem;
}

.c-header__brand, .c-header__avatar, .c-header__contact {
  text-align: center;
}

.c-header__social-buttons {
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 760px) {
  .c-header__top, .c-header__brand {
    margin-bottom: 1.75rem;
  }

  .c-header__content {
    padding-top: 1.75rem;
  }

  .c-header__contact {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .c-header__header, .c-header__content {
    height: 100vh;
  }

  .c-header__inner-header, .c-header__inner-content {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .c-header__avatar, .c-header__top {
    top: -2vh;
    position: relative;
  }

  .c-header__avatar {
    margin-top: -5.8rem;
    text-align: right;
    position: relative;
  }

  /* IE11 hack */

  *::-ms-backdrop, .c-header__avatar {
    height: 18vw;
  }

  .c-header__brand {
    text-align: left;
    margin-bottom: 0;
  }

  .c-header__social-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .c-header__contact {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.c-footer__contact-divider {
  margin-bottom: 3.5rem;
}

.c-footer__brand {
  margin-bottom: 1.75rem;
}

@media (min-width: 600px) {
  .c-footer__contact-divider {
    margin-bottom: 6.3rem;
  }

  .c-footer__bottom {
    position: relative;
  }

  .c-footer__brand {
    margin-bottom: 0;
  }

  .c-footer__social-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 760px) {
  .c-footer__contact {
    margin-bottom: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .c-footer__contact-divider {
    margin-bottom: 8.75rem;
  }
}

.c-brand__title, .c-brand__sub-title {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.75;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

.c-brand__first-word, .c-brand__second-word {
  display: block;
}

.c-brand__sub-title {
  margin-bottom: 0;
}

.c-brand__sizer {
  font-size: 65%;
}

@media (min-width: 1024px) {
  .c-brand__title {
    margin-bottom: .8rem;
  }
}

@media (min-width: 1200px) {
  .c-brand__title {
    margin-bottom: 1.4rem;
  }

  .c-brand__sizer {
    font-size: 100%;
  }

  .c-brand__sizer--sm {
    font-size: 80%;
  }
}

.c-avatar__img {
  border-radius: 50%;
  width: 11rem;
}

@media (min-width: 760px) {
  .c-avatar__img {
    width: 14rem;
  }
}

@media (min-width: 1200px) {
  .c-avatar__img {
    width: 100%;
  }
}

.c-intro p {
  margin-bottom: 1.1rem;
}

@media (min-width: 600px) {
  .c-intro p {
    font-size: 1.22rem;
    margin-bottom: 1.375rem;
  }
}

.c-deco-line {
  height: 5px;
  width: 30%;
  margin-top: 0.55rem;
  margin-bottom: 0.935rem;
  text-align: left;
}

.c-timeline {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: calc(1rem - 2px);
  padding-left: 25px;
  position: relative;
}

.c-timeline__item {
  position: relative;
}

.c-timeline__point {
  height: 10px;
  width: 10px;
  position: absolute;
  left: -31px;
  top: 3px;
  border-radius: 50%;
}

.c-timeline__end {
  height: 1px;
  width: 16px;
  position: absolute;
  left: -9px;
  bottom: 0;
  border-width: 1px;
  border-style: solid;
}

.c-work__timeframe, .c-work__heading, .c-work__title, .c-work__location {
  margin-bottom: .4rem;
  font-size: 14px;
}

.c-work__timeframe, .c-work__title, .c-work__location {
  font-weight: 500;
}

.c-work__timeframe, .c-work__location {
  opacity: .6;
  font-size: 14px;
  color: #b9b9b9;
}

.c-work__title {
  font-size: 12px;
}

.c-social-button {
  display: block;
  text-align: center;
  width: 33px;
  height: 33px;
  font-size: .8rem !important;
  line-height: 2.7 !important;
  border-radius: 2px;
  border: 2px solid;
}

@media (min-width: 1200px) {
  .c-social-button {
    width: 38px;
    height: 38px;
    font-size: 1rem !important;
    line-height: 2.6 !important;
    border-radius: 3px;
  }
}

.c-social-buttons {
  display: -ms-flexbox;
  display: flex;

  li {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.c-image-overlay {
  position: relative;
  display: block;
  overflow: hidden;

  img {
    width: 100%;
    transition: ease .6s;
  }

  .c-image-overlay__deco-line {
    height: 3px;
    width: 0;
    margin-top: 0.825rem;
    margin-bottom: 0.825rem;
    text-align: left;
    transition: width .65s ease-out;
  }

  &:hover {
    img {
      transition: ease .8s;
      transform: scale(1.012);
    }

    .c-image-overlay__deco-line {
      width: 15%;
    }
  }
}

.c-image-overlay__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 375px;
  opacity: 0;
  padding: 1.75rem 1.75rem;
  transition: ease .6s;
}

.c-image-overlay:hover .c-image-overlay__content {
  opacity: 1;
}

.c-clients {
  overflow: hidden;
  margin-right: -2.5rem;
  margin-bottom: -1.5rem;

  li {
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  img {
    max-height: 30px;
  }
}

@media (min-width: 600px) {
  .c-clients img {
    max-height: 50px;
  }
}

.a-progress-bar {
  width: 0;

  &.in-view {
    transition: width 1.4s ease-in-out .5s;
  }
}

.fa-lg {
  font-size: 1.5em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.nivo-lightbox-theme-default {
  .nivo-lightbox-close {
    width: 26px;
    height: 26px;
  }

  .nivo-lightbox-title {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: none;
  }
}

.u-pt-0 {
  padding-top: 0 !important;
}

.u-pb-0 {
  padding-bottom: 0 !important;
}

.u-mt-text {
  margin-top: 0.55rem;
}

.u-mb-text {
  margin-bottom: 0.55rem;
}

.u-hide-xs, .u-show-xl {
  display: none !important;
}

@media (max-width: 599px) {
  .u-show-xs {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .u-hide-sm {
    display: none !important;
  }
}

@media (max-width: 759px) {
  .u-show-sm {
    display: none !important;
  }
}

@media (min-width: 760px) {
  .u-hide-md {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .u-show-md {
    display: none !important;
  }
  .a-download-cv{
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .u-hide-lg {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .u-show-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .u-hide-xl {
    display: none !important;
  }
}

/**
 * THEMES.DARK
 */
/* Body */
body {
  background: #160e12;
  color: #f3f3f3;
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f3f3f3;
}

/* Link Container */
.t-link-container {
  color: inherit;
  display: block;
}

.t-link-container:hover,
.t-link-container:focus,
.t-link-container:active {
  color: inherit;
}

.t-link-container .t-link-container__item--blended {
  color: inherit;
}

/* Links */
a,
.t-link-container .t-link-container__item,
.t-link-container:hover .t-link-container__item--blended {
  color: #ef611c;
}

/* Hover Links */
a:hover,
a:focus,
a:active,
.t-link-container:hover .t-link-container__item {
  color: #fefaee;
}

/* Horizontal Rulers */
hr,
.t-border-color {
  border-color: #404242;
}

hr,
.t-border-color-bg {
  background: #404242;
}

/* Primary Color */
.t-primary-color,
.t-primary-color-line {
  color: #ef611c;
}

.t-primary-bg,
.t-primary-color-line {
  background: #ef611c;
}

/* Preloader */
.t-preloader__spinner:not(:required):before {
  border-top-color: #ef611c;
  border-bottom-color: #ef611c;
}

/* Brand Colors */
.t-title__first-word {
  color: #f3f3f3;
}

.t-title__second-word {
  color: #ef611c;
}

.t-sub-title {
  color: #f3f3f3;
}

/* Brand Typography */
.t-title {
  font-size: 4.8rem;
  line-height: 0.91;
}

.t-title__first-word {
  font-weight: 300;
  padding: 10px 0;
}

.t-title__second-word {
  text-transform: uppercase;
  font-weight: 700;
}

.t-sub-title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-left: .3rem;
}

/* Icons */
.fas,
.far,
.fal,
.fab {
  color: #575859;
}

/* Social Buttons */
.t-social-button {
  background: #e6e6e68a;
  border-color: transparent;
}

.t-social-button svg {
  width: 22px;
  margin-top: 6px;
}

.t-social-button:hover {
  background: #e6e6e6!important;
  border-color: transparent;
}

.t-social-button .fas,
.t-social-button .far,
.t-social-button .fal,
.t-social-button .fab {
  color: #717273;
}

.t-social-button:hover {
  background: #323333;
}

.t-social-button:hover .fas,
.t-social-button:hover .far,
.t-social-button:hover .fal,
.t-social-button:hover .fab {
  color: #ef611c;
}

/* Image Overlay */
.t-image-overlay {
  background: #160e12;
}

.t-image-overlay * {
  color: #e4e5e5;
}

.t-image-overlay:hover img {
  opacity: 0.4;
}

.t-image-overlay__deco-line {
  color: #c0c1c1;
  background: #c0c1c1;
}

/* Transition */
a,
button,
a .fa,
.t-link-container .t-link-container__item,
.t-link-container .t-link-container__item--blended {
  transition: all .15s linear;
}

/* Sections */
.t-section__header {
  background: #100a0e;
}

.t-section__content,
.t-section--header .t-section__header {
  background: #160e12;
}

.t-section__content-border-color {
  border-color: #160e12;
}

.t-timeline__point {
  box-shadow: 0 0 0 6px #160e12;
}

@media (max-width: 1023px) {
  .t-section__header {
    border-top: 1px solid #404242;
    border-bottom: 1px solid #404242;
  }
  .t-section--header .t-section__header {
    border-top: none;
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  /* Odd Sections */
  .t-section,
  .t-section__header,
  .t-section--header .t-section__header {
    background: #100a0e;
  }
  .t-section__content {
    background: #160e12;
  }
  /* Even Sections */
  .t-section:nth-child(even),
  .t-section:nth-child(even) .t-section__header {
    background: #160e12;
  }
  .t-section:nth-child(even) .t-section__content {
    background: #100a0e;
  }
  .t-section:nth-child(even) .t-timeline__point {
    box-shadow: 0 0 0 6px #100a0e;
  }
}

@media (max-width: 599px) {
  .t-title__first-word[data-v-6e78a388] {
    font-weight: 300;
    margin-bottom: 11px;
  }
  .c--brand--smoll{
    font-size: 16px;
  }
}
