/*-----------------------------------------------------------------------------------*/
/*  TABLE OF CONTENTS
/*-----------------------------------------------------------------------------------*/
/*  1 - FONT IMPORT
/*  2 - BASE
/*  3 - BUTTONS
/*  4 - NAV
/*  5 - HEADER
/*  6 - SECTIONS
/*  7 - PORTFOLIO
/*  8 - BLOG
/*  9 - COMMENTS
/*  10 - HOVER CAPTIONS
/*  11 - FOOTER
/*  12 - CAROUSEL STYLES
/*  13 - SEARCH
/*  14 - SPLASH
/*  15 - MAP
/*  16 - FORM CONTROL
/*  17 - TABS
/*  18 - COUNTDOWN
/*  19 - MEDIA QUERIES.special-max-height
/*  20 - SHOP
/*  21 - SIDE NAV
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  1 - FONT IMPORT
/*-----------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900|Montserrat:400,700|Nothing+You+Could+Do);

@import url(https://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

/*-----------------------------------------------------------------------------------*/

/*  2 - BASE
/*-----------------------------------------------------------------------------------*/

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #fff;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  scroll-behavior: smooth;

  &.boxed-layout {
    background-color: #eee;
  }
}

.secondary-font {
  font-family: 'Crete Round', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.heading-font {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.navbar-default {
  .navbar-brand, .nav li a {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
  }
}

.text-muted {
  color: #444;
}

.mobile-block-addition{
  display: none;
}

#contact h3 {
  margin-bottom: 30px;
}

.text-primary {
  color: #333;
}

p {
  font-size: 13px;
  line-height: 26px;

  &.large {
    font-size: 16px;
  }
}

a {
  outline: 0;
  text-decoration: none;

  &:hover, &:focus, &:active, &.active {
    outline: 0;
    text-decoration: none;
  }

  color: #fff;

  &:hover, &:focus, &:active, &.active {
    color: #c2253e;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.img-centered {
  margin: 0 auto;
}

.gap {
  margin-bottom: 60px;
}

.mb15 {
  margin-bottom: 15px !important;
  display: block;
}

.mb30 {
  margin-bottom: 30px !important;
  display: block;
}

.mb50 {
  margin-bottom: 50px;
  display: block;
}

.mb100 {
  margin-bottom: 100px;
}

.nomarginbottom {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt60 {
  margin-top: 60px;
}

.mt120 {
  margin-top: 120px;
}

.ptb {
  padding-top: 45px;
  padding-bottom: 45px;
}

.nopaddingtop {
  padding-top: 0 !important;
}

.nopaddingbottom {
  padding-bottom: 0 !important;
}

.nopadding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nopadding-l {
  padding-left: 0 !important;
}

.pad-sides-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.pad-top-60 {
  padding-top: 60px !important;
}

.pad-top-200 {
  padding-top: 200px !important;
}

.thin {
  font-weight: 300;
}

.btn {
  &:focus, &:active, &.active, &:active:focus {
    outline: 0;
  }
}

::-moz-selection, ::selection {
  color: #fff;
  text-shadow: none;
  background: #333;
}

.list-unstyled {
  margin-bottom: 0;
}

img {
  &::selection, &::-moz-selection {
    background: 0 0;
  }
}

body {
  webkit-tap-highlight-color: #333;
}

.img-responsive {
  width: 100%;
}

.thumbnail {
  > img, a > img {
    width: 100%;
  }
}

.carousel-inner > .item > {
  img, a > img {
    width: 100%;
  }
}

.img-thumbnail {
  border: none;
}

.smoothie {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.col-md-5th {
  width: 20%;
}

.thin-hr {
  margin: 30px 0 40px;
  width: 100%;
  clear: both;
  display: block;
  position: relative;
  border: none;

  &.bordered {
    margin: 20px 0;
    width: 100%;
    clear: both;
    display: block;
    position: relative;
    border: 1px solid #333;
  }

  &:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #333;
    left: 50%;
    margin-left: -60px;
  }
}

.rotate-45 {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-large {
  font-size: 40px;
}

.background-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.lead {
  font-size: 18px;
  line-height: 32px;
}

.white {
  color: #fff;
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  3 - BUTTONS
/*-----------------------------------------------------------------------------------*/

.btn {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

  &:focus, &:active:focus, &.active:focus, &:active, &.active {
    outline: none;
    box-shadow: none;
  }
}

.btn-primary {
  border-color: #333;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  padding: 15px 0px;
  letter-spacing: 1px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: none;
  border-bottom: 3px solid;
  font-size: 14px;

  &.btn-transparent {
    border-color: transparent !important;

    &:hover, &:active, &:focus, &.active {
      color: #a7a7a7;
      border-color: transparent !important;
      background-color: transparent !important;
    }
  }

  &:hover, &:focus, &:active, &.active {
    border-color: #333;
    color: #f3f3f3;
    background-color: transparent !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.open .dropdown-toggle.btn-primary {
  border-color: #333;
  color: #f3f3f3;
  background-color: transparent !important;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    border-color: #333;
    background-color: #333;
  }
}

fieldset[disabled] .btn-primary {
  border-color: #333;
  background-color: #333;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    border-color: #333;
    background-color: #333;
  }
}

fieldset[disabled] .btn-primary:hover {
  border-color: #333;
  background-color: #333;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    border-color: #333;
    background-color: #333;
  }
}

fieldset[disabled] .btn-primary:focus {
  border-color: #333;
  background-color: #333;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    border-color: #333;
    background-color: #333;
  }
}

fieldset[disabled] .btn-primary:active {
  border-color: #333;
  background-color: #333;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    border-color: #333;
    background-color: #333;
  }
}

fieldset[disabled] .btn-primary.active {
  border-color: #333;
  background-color: #333;
}

.btn-default {
  border-color: transparent;

  &.disabled {
    border-color: transparent;
  }
}

.btn-white {
  border-color: #f3f3f3;
  color: #f3f3f3;
}

.btn-primary {
  &:hover, &:focus, &:active, &.active {
    border-color: #888;
    color: #888;
    background-color: transparent !important;
  }
}

/*-----------------------------------------------------------------------------------*/

/*   4 NAV
/*-----------------------------------------------------------------------------------*/

.top-bar {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  color: #fff;
  height: 53px;
  opacity: 1;
  overflow: hidden;

  a {
    color: #fff;
  }
}

.navbar-shrink .top-bar {
  border-bottom: 1px solid #DADFE1;
  color: #222;
  height: 0;
  opacity: 0;
  padding: 0;

  a {
    color: #222;
  }
}

.navbar-static {
  position: static !important;
}

.navbar-default {
  border-color: transparent;
  background-color: #182326;

  .navbar-brand {
    color: #333;
    margin-top: 10px;
    letter-spacing: 7px;
    font-size: 24px;
    font-weight: 700;
  }
}

.navbar-brand {
  &.logo img {
    max-height: 130px;
    top: -4px;
    left: -11px;
    position: relative;
  }

  &.logo-dark {
    display: none;
    opacity: 0;
  }
}

.navbar-shrink .navbar-brand {
  &.logo-light {
    display: none;
    opacity: 0;
  }

  &.logo-dark {
    display: block;
    opacity: 1;
  }
}

.navbar-default {
  .navbar-brand {
    &:hover, &:focus, &:active, &.active {
      color: #333;
    }
  }

  .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
  }

  .navbar-toggle {
    border-color: transparent;
    background-color: transparent;

    &:hover, &:focus {
      border-color: transparent;
      background-color: transparent;
    }

    .icon-bar {
      background-color: #fff;
    }
  }
}

.caret {
  margin-top: -3px;
}

.navbar-default {
  .nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    padding: 25px 5px;
    margin: 0 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    letter-spacing: 1px;
  }

  &.background--dark {
    .nav li > a, .navbar-brand {
      color: #fff;
    }
  }
}

#headerwrap.background--dark .intro-text {
  color: #fff;
}

.navbar-default {
  .nav li > a, .navbar-brand {
    color: #fff;
  }
}

#headerwrap .intro-text {
  color: #fff;
}

.dropdown-menu > .active > a {
  background-color: transparent;

  &:hover, &:focus {
    background-color: transparent;
  }
}

.navbar-default {
  .nav li {
    a {
      &:hover, &:focus {
        color: #fff;
      }
    }

    &.dropdown.open > a {
      color: #333 !important;
    }
  }

  .dropdown-menu a {
    color: #333 !important;
  }

  .nav .dropdown-menu li a {
    padding: 15px 20px 15px 10px;
    font-size: 11px;
    font-weight: 400;
    white-space: normal;
  }
}

#headerwrap .btn-primary {
  border-color: #f3f3f3;
  color: #f3f3f3;
  background-size: 100%;
}

.navbar-default {
  &.navbar-shrink .nav li a {
    &:hover, &:focus {
      outline: 0;
      color: #333;
    }
  }

  .navbar-nav > .active > a {
    border-radius: 0;
    background-color: transparent;
    color: #333;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  &.navbar-shrink {
    .nav li {
      &.active > a {
        border-radius: 0;
        color: #fff;
        background-color: #100a0e;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

      > a {
        color: #333;
      }
    }

    .navbar-brand {
      color: #333;
    }
  }

  .navbar-nav > .active > a {
    &:hover, &:focus {
      color: #333;
      background-color: #333;
    }
  }
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 220px;
  padding: 0;
  margin: 2px 0 0;
  font-size: 12px;
  text-align: left;
  list-style: none;
  background-color: #fcfcfc;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default {
  &.navbar-shrink .nav .dropdown-menu li a {
    color: #333;

    &:hover {
      color: #333;
      background-color: #eee;
    }
  }

  .nav .dropdown-menu li a:hover {
    color: #333;
    background-color: #eee;
  }

  .navbar-nav > .open > a {
    background-color: transparent;
    color: #000;

    &:hover, &:focus {
      background-color: transparent;
      color: #000;
    }
  }
}

/*-----------------------------------------------------------------------------------*/

/*  5 - HEADER
/*-----------------------------------------------------------------------------------*/

#headerblog {
  background-color: #f3f3f3;
  overflow: hidden;
  background-size: 100%;
  background-position-y: 0;
}

header#headerblog .intro-text {
  padding-top: 250px;
  padding-bottom: 85px;
}

.opaque {
  background-color: transparent !important;
}

.backstretch:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.backstretch-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #79316e;
  background: -moz-linear-gradient(top, #79316e 0%, #1f2653 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #79316e), color-stop(100%, #1f2653));
  background: -webkit-linear-gradient(top, #79316e 0%, #1f2653 100%);
  background: -o-linear-gradient(top, #79316e 0%, #1f2653 100%);
  background: -ms-linear-gradient(top, #79316e 0%, #1f2653 100%);
  background: linear-gradient(to bottom, #79316e 0%, #1f2653 100%);
  opacity: 0.5;
}

.backstretch-overlay-alt .backstretch-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3A539B;
  opacity: 0.5;
}

.no-overlay .backstretch-overlay {
  display: none;
  opacity: 0;
}

#tubular-container {
  z-index: -1 !important;
  position: absolute !important;
}

header {
  color: #333;

  .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #333;
    position: relative;
    z-index: 4;
  }
}

#headerwrap img {
  margin: 0 auto;
  display: block;
}

header .intro-text {
  .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    text-transform: none;
    line-height: 22px;
  }

  .intro-heading {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

/* HEADER STYLES */

.header-2 {
  background-color: #fff !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .top-bar {
    background-color: #222;
    height: 45px;
  }

  &.navbar-shrink .top-bar {
    height: 0;
  }

  .navbar-header {
    a, * {
      color: #222 !important;
    }
  }

  &.navbar-default .nav li {
    a, * {
      color: #222 !important;
    }
  }
}

.header-3-container {
  .nav li a, .navbar-brand {
    color: #222 !important;
  }
}

.header-5 {
  a, * {
    color: #222 !important;
  }
}

.header-6 {
  a, * {
    color: #222 !important;
  }
}

/* HEADER 3 */

.header-3 .top-bar {
  border-bottom: 0;
}

.header-3-container {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-shrink .header-3-container {
  background-color: transparent;
}

/* HEADER 5 */

.header-5 {
  margin-bottom: 0;
  padding: 10px 0 0 !important;

  &.navbar-shrink .top-bar {
    height: 53px !important;
  }
}

/* HEADER 6 */

.header-6 {
  margin-bottom: 0;

  .navbar-brand {
    float: none;
    display: block;
  }

  background-color: #fff !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .top-bar {
    background-color: #222;
    height: 45px;
  }

  &.navbar-shrink .top-bar {
    height: 0;
  }

  .top-bar {
    *, a {
      color: #fff !important;
    }
  }
}

@media all and (min-width: 769px) {
  .header-6 {
    &.navbar-default .navbar-collapse {
      width: 100%;
    }

    .navbar-nav {
      width: 100%;

      > li {
        float: none;
        display: inline-block;
      }
    }
  }
}

/*-----------------------------------------------------------------------------------*/

/*  6 - SECTIONS
/*-----------------------------------------------------------------------------------*/

section {
  background-color: #fff;
  clear: both;
}

.silver-bg {
  background-color: #DADFE1;
}

.white-bg {
  background-color: #fff;
  z-index: 4;
  position: relative;
}

.dark-wrapper {
  background-color: #111111;

  &.opaqued {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.dark-opaqued {
  background-color: rgba(0, 0, 0, 0.7);
}

.dark-wrapper {
  &.dark-grey-wrapper.opaqued, &.dark-grey-opaqued {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#headerwrap.opaqued {
  background-color: rgba(68, 34, 69, 0.9);
}

.remove-opacqued-bg .dark-opaqued {
  background-color: transparent;
}

.dark-wrapper {
  h1, h2, h3, h4, h5, h6, p, a, * {
    color: #f3f3f3;
  }

  color: #f3f3f3;
}

.dark-content {
  h1, h2, h3, h4, h5, h6, p, a, * {
    color: #222;
  }

  color: #222;
}

.section-inner {
  padding: 70px 0;
}

.contact-section-inner {
  padding: 200px 0 120px;
}

section h2.section-heading, .section-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 42px;
  letter-spacing: 8px;
  font-weight: 700;
}

section h3.section-subheading {
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 400;
  clear: both;
  display: block;
  padding-top: 0;
  font-style: italic;
  margin: 0;
  position: relative;
}

.cl-effect-3 a {
  padding: 8px 0;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    opacity: 0;
    margin-top: -3px;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.navbar-shrink .cl-effect-3 a::after {
  background: rgba(0, 0, 0, 0.2);
}

.cl-effect-3 a {
  &:hover::after, &:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.tagcloud a {
  border-radius: 0;
  padding: 5px 12px;
  text-transform: uppercase;
  margin: 0 1px 5px 0;
  border: 1px solid;

  &:hover {
    background-color: #fff;
    color: #444;
    border-color: #fff;
  }
}

.widget {
  .media-body .muted {
    display: block;
    font-size: 10px;
  }

  .media-heading {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    top: -5px;
    position: relative;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  7 - PORTFOLIO
/*-----------------------------------------------------------------------------------*/

.portfolio-items {
  margin-left: -15px;
  margin-right: -15px;
}

.pad-masonry-portfolio-items .masonry-portfolio-item {
  margin-bottom: 30px;
}

.fixed-filters {
  position: relative;
  overflow: hidden;

  .masonry-portfolio-filter {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 15px;
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.portfolio-filter a {
  margin: 0 10px;
  border-color: #f3f3f3;

  &.active {
    border-color: #222;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  8 - BLOG
/*-----------------------------------------------------------------------------------*/

.blog-item .post-title, .project-item .post-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing: 4px;
}

.meta-item {
  font-size: 12px;
  font-weight: 300;

  &.post-date {
    clear: left;
    display: block;
  }
}

.item-metas .meta-item:last-of-type {
  margin-right: 0px;
}

.meta-item span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.post-date {
  .the-date {
    font-size: 48px;
    line-height: 60px;
    font-weight: 300;
  }

  .the-month {
    text-transform: uppercase;
  }
}

.single-post-content p {
  margin-bottom: 45px;
}

/*-----------------------------------------------------------------------------------*/

/* 9 - COMMENTS
/*-----------------------------------------------------------------------------------*/

textarea#comments {
  min-height: 250px;
  margin: 5px 0 0 4px;
  width: 99.1%;
}

#comments-list .well {
  background-color: transparent;
  overflow: hidden;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 30px;

  .secondary-font {
    font-size: 14px;
    clear: left;
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: lowercase;
  }
}

.comment-avatar {
  max-width: 80px;
  margin-right: 15px;
  height: auto;
}

/*-----------------------------------------------------------------------------------*/

/*  10 - HOVER CAPTIONS
/*-----------------------------------------------------------------------------------*/

.hover-item {
  position: relative;
  overflow: hidden;

  img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.overlay-item-caption {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

.hover-item-caption {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  z-index: 2;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 15px;
    -webkit-box-shadow: inset 0 0 0 1px #000000;
    box-shadow: inset 0 0 0 1px #000000;
    opacity: 0.5;
  }
}

.hover-item:hover .hover-item-caption {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hover-item-caption {
  h3, .smoothie {
    top: 0px;
    position: relative;
  }

  h3 {
    padding: 0 20px;
  }
}

.hover-item:hover {
  .hover-item-caption h3, .smoothie {
    top: 0px;
  }

  .overlay-item-caption {
    opacity: 0;
    top: 0px;

    .vertical-center {
      opacity: 0;
    }
  }
}

.hover-item-caption a.btn, .overlay-item-caption a.btn {
  margin: 0 15px;
  z-index: 10;
}

.hover-item:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hover-item-caption h3 {
  margin: 14px 0 26px;
  color: #fefefe;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 6px;
}

.overlay-item-caption {
  h3 {
    margin: 14px 0 26px;
    color: #fefefe;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6px;
  }

  strong {
    color: #fefefe;
    padding-bottom: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    letter-spacing: 4px;
  }

  .thin-hr:after {
    background-color: #fff;
  }
}

.dark-wrapper .thin-hr:after {
  background-color: #fff;
}

.overlay-item-caption .post-excerpt {
  font-style: italic;
  color: #fefefe;
  padding-top: 16px;
  font-size: 16px;
  padding-left: 15%;
  padding-right: 15%;
}

.hover-item-caption h3 span, .overlay-item-caption h3 span {
  clear: both;
  display: block;
  text-transform: none;
  font-size: 20px;
  color: #fefefe;
}

.hover-item-caption {
  h2 span {
    clear: both;
    display: block;
    text-transform: none;
    font-size: 20px;
    color: #fefefe;
    display: inline-block;
  }

  a {
    color: #222;
  }
}

.overlay-item-caption a {
  color: #222;
}

.vertical-align-bottom {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.slide-caption {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  padding: 20px 25px;

  p {
    text-shadow: none;
    color: #444;
  }
}

.post-slide .hover-item-caption {
  background-color: transparent;

  &:after {
    display: none;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  11 - FOOTER
/*-----------------------------------------------------------------------------------*/

#footer-widgets {
  border-top: 1px solid #333;

  .section-inner {
    padding-bottom: 80px;
  }
}

footer.white-wrapper {
  padding: 60px 0;
  background-color: #000;

  * {
    color: #fff;
  }

  span.copyright {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px;
  }

  .social-links li {
    padding: 15px 30px;

    a {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 26px;
    }
  }
}

.widget-title {
  margin-bottom: 30px;
}

.flexpanel .viewport .widget {
  padding-right: 20px;
}

/* FOOTER STYLES */

.footer-image-bg {
  background-color: #100a0e;

  .dark-wrapper, .white-wrapper {
    background-color: transparent !important;
    border: none;
  }

  *, a {
    color: #fff;
  }
}

.dark-footer-image-bg {
  //background-image: url(../img/dark-footer-bg.jpeg);
  background-size: cover;
  background-position: center center;

  .dark-wrapper, .white-wrapper {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: none;
  }

  *, a {
    color: #ddd;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  12 - CAROUSEL STYLES
/*-----------------------------------------------------------------------------------*/

.fw-carousel .owl-item, .post-slider .owl-item {
  padding: 0;
}

.fw-carousel .hover-item-caption h3 {
  font-size: 20px;
}

/*-----------------------------------------------------------------------------------*/

/*  13 - SEARCH
/*-----------------------------------------------------------------------------------*/

#search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(1, 0);
  -moz-transform: translate(0px, -100%) scale(1, 0);
  -o-transform: translate(0px, -100%) scale(1, 0);
  -ms-transform: translate(0px, -100%) scale(1, 0);
  transform: translate(0px, -100%) scale(1, 0);
  opacity: 0;
  z-index: 9999999;

  &.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }

  input[type="search"] {
    width: 320px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    border: 0;
    margin: 0 auto;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 14px;
    outline: none;
    border-bottom: 3px solid #fff;
    display: inline;
    text-transform: uppercase;
  }

  .btn {
    display: inline-block;
  }

  .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: transparent;
    border: none;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
    outline: none;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  14 - SPLASH
/*-----------------------------------------------------------------------------------*/

.preloader {
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;

  span {
    text-transform: none;
    font-size: 34px;
  }

  .preloader-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

/*-----------------------------------------------------------------------------------*/

/*  15 - MAP
/*-----------------------------------------------------------------------------------*/

#mapwrapper {
  min-height: 400px;
  clear: both;
  position: relative;
  display: block;
}

/*-----------------------------------------------------------------------------------*/

/*  16 - FORM CONTROL
/*-----------------------------------------------------------------------------------*/

.form-control {
  display: block;
  width: 100% !important;
  margin: 10px 0;
  height: 40px;
  padding: 30px 30px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #f2ecea;
  background-image: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus, &.col-md-4:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.dark-wrapper .form-control {
  border: none;
  border-bottom: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0);

  &:focus {
    border: none;
    color: #fff;
    border-bottom: 3px solid #222;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.col-md-4 {
    &:focus {
      border: none;
      color: #fff;
      border-bottom: 3px solid #222;
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 32.33333%;
      border: none;
      border-bottom: 3px solid #222;
      background-color: rgba(0, 0, 0, 0);
    }

    width: 32.33333%;
    border: none;
    border-bottom: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 0.5% 10px;
  }
}

.form-control.col-md-4 {
  width: 32.33333%;
  border: none;
  border-bottom: 3px solid;
  background-color: transparent;
  margin: 0 0.5% 10px;

  &:focus {
    width: 32.33333%;
    border: none;
    border-bottom: 3px solid;
    background-color: transparent;
    margin: 0 0.5% 10px;
  }
}

.dark-wrapper .form-control.col-md-4:first-of-type {
  border-left: none;
}

.transparent-wrapper {
  background-color: transparent;
}

.form-control {
  &::-webkit-input-placeholder {
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.dark-wrapper .form-control::-webkit-input-placeholder, .white-text .form-control::-webkit-input-placeholder {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.dark-wrapper .form-control {
  &:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.main-contact-form textarea, #commentform .main-contact-form textarea {
  border-top: none;
  min-height: 250px !important;

  &:focus {
    border-top: none;
    min-height: 250px !important;
  }
}

#contact-tabs {
  .tabtitle {
    margin-top: 0;
  }

  .nav-justified {
    position: absolute;
    z-index: 10;
  }

  .tab-content .tab-pane {}

  .icon-tabs li {
    border-right: none;
  }
}

.icon-tabs li.silver-bg.active {
  background-color: #edeff0;
}

/*-----------------------------------------------------------------------------------*/

/*  17 -  TABS
/*-----------------------------------------------------------------------------------*/

.nav.nav-justified > li > a {
  position: relative;
}

.icon-tabs li {
  border-right: 1px solid #111;

  a {
    opacity: 0.4;
  }
}

.map-open .icon-tabs li a {
  color: #222;
}

.icon-tabs li {
  &.active a {
    opacity: 1;
  }

  &:last-of-type {
    border-right: none;
  }
}

.dark-wrapper .icon-tabs li {
  &:last-of-type {
    border-right: none;
  }

  border-right: 1px solid #fefefe;
}

.icon-tabs li .tabtitle {
  clear: both;
  display: block;
  margin: 15px 0 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 700;
}

.nav.nav-justified > li {
  > a {
    &:hover, &:focus {
      background-color: transparent;
    }

    > .quote {
      position: absolute;
      left: 0px;
      top: 0;
      opacity: 0;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: #13c0ba;
      border-radius: 15px;
      color: #fff;
    }
  }

  &.active {
    > a > .quote {
      opacity: 1;
    }

    > a > img {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  > a > img {
    box-shadow: 0 0 0 5px #13c0ba;
    max-width: 100%;
    opacity: .3;
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:hover > a > img, &:focus > a > img {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.tab-pane .tab-inner {
  padding: 30px 0 20px;
}

@media (min-width: 769px) {
  .nav.nav-justified > li > a > .quote {
    left: auto;
    top: auto;
    right: 20px;
    bottom: 0px;
  }

  #headerwrap.fullheight {
    min-height: 100vh;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  18 - COUNTDOWN
/*-----------------------------------------------------------------------------------*/

#countdown {
  span {
    width: 12%;
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 6px;
    line-height: 70px;
    padding-bottom: 20px;
  }

  small {
    font-weight: 300;
    font-size: 18px;
    display: block;
    clear: both;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  overflow: hidden;
  padding-bottom: 20px;
  text-align: left;
}

/*-----------------------------------------------------------------------------------*/

/*  SKILL BARS
/*-----------------------------------------------------------------------------------*/

.skill-bar {
  margin-bottom: 25px;

  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #444;
    border-radius: 0;
  }

  .progress-bar-success {
    background-color: #444;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  p {
    margin: 0 0 5px 0;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  19 - MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media all and (min-width: 1600px) {
  .boxed-layout .master-wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1400px) {
  .boxed-layout {
    .master-wrapper, .navbar-fixed-top {
      max-width: 1600px;
      margin: 0 auto;
    }
  }
}

@media all and (min-width: 991px) {
  .slide-caption {
    width: 440px;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  header .intro-text {
    padding-top: 600px;
    padding-bottom: 100px;

    .intro-lead-in {
      margin-bottom: 20px;
      font-size: 40px;
      font-style: normal;
      line-height: 40px;
      letter-spacing: -1px;
    }

    .intro-heading {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 90px;
      font-weight: 700;
      letter-spacing: 6px;
      line-height: 38px;
    }
  }

  .intro-sub-heading {
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 300;
  }

  .navbar-fixed-top .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar li.dropdown:hover > ul.dropdown-menu {
    opacity: 1;
    display: block;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 769px) {
  .pad-sides-120 {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }

  .navbar-default {
    padding: 10px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all 0.5s ease-in-out;

    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all 0.3s;
    }

    &.navbar-shrink {
      padding: 0;
      background-color: rgba(255, 255, 255, 0.95);
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }

  .special-max-height {
    max-height: 100vh;
    min-height: 765px;
    height: 700px !important;
  }
}

@media (min-width: 1400px) {
  .special-max-height {
    max-height: 100vh;
    min-height: 765px;
    height: auto !important
  }
}

@media (max-width: 768px) {
  .fullheight {
    height: auto !important;
    min-height: 600px;

    .article-slide {
      height: auto !important;
      min-height: 600px;

      .carousel-inner {
        height: auto !important;
        min-height: 600px;
      }

      .item {
        height: auto !important;
        min-height: 600px;

        img {
          height: auto !important;
          min-height: 600px;
        }
      }
    }
  }

  .icon-tabs {
    .fa-4x {
      font-size: 46px;
    }

    li .tabtitle {
      font-size: 12px;
      letter-spacing: 4px;
    }
  }

  .dark-wrapper .icon-tabs li {
    border-right: none;
  }

  .form-control.col-md-4, .dark-wrapper.form-control.col-md-4 {
    width: 100% !important;
  }

  .navbar-default .navbar-brand {
    margin-top: 0;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 900px;
  }

  .special-max-height {
    max-height: 560px !important;
    height: 560px !important;
  }

  .header-6 {
    .navbar-brand {
      float: left;
    }

    &.navbar-default .navbar-toggle .icon-bar {
      background-color: #333;
    }
  }

  .portfolio-filter, .masonry-portfolio-filter {
    text-align: center;
  }

  .navbar-default {
    .nav li.dropdown.open > a, .dropdown-menu a {
      color: #fff !important;
    }

    &.navbar-shrink {
      .nav li > a, .navbar-brand {
        color: #fff !important;
      }
    }
  }

  .header-6.navbar-default {
    .nav li.dropdown.open > a, .dropdown-menu a {
      color: #333 !important;
    }

    &.navbar-shrink {
      .nav li > a, .navbar-brand {
        color: #333 !important;
      }
    }
  }

  section h2.section-heading, .section-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 8px;
    font-weight: 700;
    text-align: center;
  }

  section h3.section-subheading, #contact-tabs .icon-tabs li a {
    text-align: center;
  }
  .bg-stat {
    background-color: #100a0e;
    height: 105px;
    margin-bottom: 0;
  }
  .post-title {
    color: #fff;
    top: 0;
    line-height: 100px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }
  .blog {
    padding: 15px 0px;
  }
  .blog-list-post.masonry-portfolio-items {
    overflow: hidden;
  }
  .white-bg.blog .col-sm-9, .white-bg.blog .col-xs-12{
    padding: 0;
  }
  header.o-section__header.c-header__header.t-section__header {
    margin-top: 50px;
  }
  .top-bar {
    height: 0;
    padding: 0;
    border-bottom: none;
  }
  .mobile-block-addition {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.02);
    padding: 15px 5px;
  }
  .location {
    list-style: none;
    padding-left: 0 !important;
    position: fixed!important;
    top: 11px;
    right: 132px;
    opacity: 0;
    transition: 0.5s;
  }
  .show .location {
    opacity: 1;
  }
  .location .dropdown-menu {
    width: 70px!important;
    min-width: 70px!important;
    display: block;
    background: transparent;
    float: left;
  }
  .location .dropdown-menu a {
    width: 50%;
    float: left;
  }
  .location>li>a{
    display: none;
  }
  .mobile-block-addition ul.contact {
    list-style: none;
    padding-left: 0;
  }
  .mobile-block-addition ul.contact li {
    font-size: 16px;
    color: white;
    padding: 3px 0px;
  }
}

@media (max-width: 460px) {
  .fullheight {
    height: auto !important;
    min-height: 400px;

    .article-slide {
      height: auto !important;
      min-height: 400px;

      .carousel-inner {
        height: auto !important;
        min-height: 400px;
      }

      .item {
        height: auto !important;
        min-height: 400px;

        img {
          height: auto !important;
          min-height: 400px;
        }
      }
    }
  }

  .portfolio-item, .masonry-portfolio-item {
    width: 100%;
  }
}

/*-----------------------------------------------------------------------------------*/

/*  20 - SHOP
/*-----------------------------------------------------------------------------------*/

.item-excerpt .pull-right {
  margin-top: 0;
}

.onsale {
  position: absolute;
  background-color: #fff;
  padding: 15px 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 10px;
}

.images .thumbnails {
  margin-top: 25px;

  a {
    margin-right: 10px;
  }
}

.quantity.buttons_added {
  display: inline-block;

  input {
    padding: 14px 5px;
    position: relative;
    top: 1px;
    width: 60px;
    background-color: transparent;
    border: 1px solid;
  }
}

.product-rating.mb {
  margin-bottom: 25px;
}

.summary .price {
  margin-bottom: 25px;

  ins {
    clear: left;
    display: block;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
  }
}

.product-tabs {
  margin-top: 25px;

  .tab-pane {
    padding: 25px 0;
  }
}

.testimonial-owl .hover-item {
  margin-left: 0;
  margin-right: 0;

  .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

.testimonial-author {
  margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/

/*  21 - SIDE NAV
/*-----------------------------------------------------------------------------------*/

.side-nav-active {
  .master-wrapper, .navbar-fixed-top {
    padding-left: 280px;
  }

  #side-wrapper {
    width: 280px;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 11;
    padding: 10px;
  }

  #side-menu-toggle {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 10;
    background: #f6f6f6;
    border: none;
    font-size: 24px;
    padding: 6px 8px;
    line-height: 1;

    &.open {
      margin-left: 220px;
      z-index: 15;
    }
  }

  .side-menu {
    ul {
      padding: 0;

      li ul li {
        padding: 10px 20px;

        a {
          font-size: 12px;
          padding: 0 !important;
        }
      }
    }

    .nav > li > a {
      &:hover, &:focus {
        background-color: transparent;
        color: #000;
      }
    }
  }

  .navbar-default.navbar-shrink .nav li.active > a {
    background-color: transparent;
    color: #000;
  }
}

#side-wrapper {
  .navbar-header {
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }

  .thin-hr {
    &:after {
      content: '';
      position: absolute;
      width: 70px;
      height: 2px;
      background-color: #333;
      left: 17px;
      margin-left: 0;
    }

    margin: 20px 0 40px;
  }

  .navbar-default {
    background-color: #fcfcfc;
    padding: 0 !important;

    .nav li a {
      padding: 12px 18px;
    }
  }
}

@media (max-width: 768px) {
  #side-wrapper {
    display: none;
    background-color: #fcfcfc;
  }

  .side-nav-active .master-wrapper {
    padding-left: 0;
  }

  #side-wrapper .navbar-default .nav li a, .navbar-default .nav li a {
    padding: 10px 20px;
  }
}

.side-menu {
  .dropdown-menu {
    position: relative;
    width: 100%;
    background-color: transparent;
    left: 0 !important;
    top: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 0 20px;
  }

  .dropdown-submenu {
    > .dropdown-menu {
      position: relative;
      width: 100%;
      background-color: transparent;
      left: 0 !important;
      top: 0 !important;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0 0 20px;
      display: none;
    }

    &.open > .dropdown-menu {
      display: block;
    }
  }

  .nav {
    .open > a {
      background-color: transparent;

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    > li > a {
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }

  .dropdown-menu > li > a {
    &:hover, &:focus {
      background-color: transparent;
    }
  }

  .nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 12px 0px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    letter-spacing: 1px;
  }

  .dropdown-menu > li > a {
    padding: 10px 0px;
    font-size: 11px;
    font-weight: 400;
    white-space: normal;
    max-width: 280px;
  }

  .collapse {
    display: none;
    height: 0;
    opacity: 0;
    -webkit-transition: height 0.65s ease;
    transition: height 0.65s ease;

    &.in {
      display: block;
      height: 100%;
      opacity: 1;
      -webkit-transition: height 0.65s ease;
      transition: height 0.65s ease;
    }
  }
}

.promo-inner {
  overflow: hidden;
}

.demo-selector .masonry-portfolio-item {
  margin-bottom: 30px;
}

.blog-header {
  height: 340px !important;
  filter: blur(9px);
  opacity: 0.4;
}

.post-title {
  color: #fff;
  top: 0;
  line-height: 415px;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.bg-stat {
  background-color: #100a0e;
  height: 550px;
  margin-bottom: -200px;
}

.blog-btn {
  background: #ef611c;
  color: white;
  font-size: 11px;
  padding: 10px 10px;
  margin-top: 10px;
}

.blog {
  padding: 30px 15px;
  display: inline-block;
  border-top: 4px solid #ef611c;
  width: 100%;
}

.blog-post {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.26);
  padding: 8px;
  margin-bottom: 20px;
}

.blog-title {
  font-size: 14px;
}

.blog-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.37);
}

.blog .section-inner {
  padding: 60px 0;
}

.jumbotron {
  position: relative;
  z-index: 4;
}

.about-home {
  position: relative;
  z-index: 4;
  background-color: #100a0e;
  color: white;

  section {
    background-color: #0f0f27;
    background-color: #100a0e;
    width: 50%;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-bottom: 34px;
    }

    p {
      text-align: justify;
      font-size: 15px;
    }
  }

  > .container > section > div {
    margin-top: 160px;
    margin-bottom: 201px;
    display: inline-block;
  }
}

.mess-home {
  background-color: #100a0e;
  color: white;

  section {
    background-color: #0f0f27;
    background-color: #100a0e;
    width: 50%;
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-bottom: 75px;
    }

    p {
      text-align: justify;
      font-size: 15px;
    }
  }

  > .container > section > div {
    margin-top: 160px;
    margin-bottom: 201px;
    display: inline-block;
  }
}

.work {
  text-align: center;
  margin-bottom: 60px;
}
//    max-height: 100vh;
//    height: 700px !important;

#headerwrap {
  background-color: #100a0e;
  overflow: hidden;
  background-size: auto;
  background-repeat: no-repeat;
}

.button {
  padding: 18px 45px;
  background: #3a242b;
  color: white;
  border-radius: 4px;
  transition: 0.3s;
  display: inline-block;
  z-index: 99;
  position: relative;
  margin-top: 20px;

  &:hover {
    background: #b9aeb2;
    color: #100a0e;
  }
}

a.button i {
  padding-right: 12px;
}

.button-top {
  margin-top: 5px;
}

@media (max-width: 1400px) {
  header {
    background-position: -150px -250px !important;
  }

  .special-max-height {
    min-height: 705px;
  }

  header .intro-text {
    padding-top: 500px;
  }
}

@media (max-width: 1250px) {
  header {
    background-position: -400px -250px !important;
  }

  .special-max-height {
    height: 600px !important;
    min-height: 600px;
  }

  .parallax0 {
    height: 670px;
  }

  .about-home section {
    width: 75%;
  }

  header .intro-text .intro-heading {
    font-size: 60px;
  }

  header .intro-text {
    padding-bottom: 50px;
  }

  .intro-sub-heading {
    font-size: 20px;
  }

  header .intro-text {
    padding-top: 500px;
  }
}

@media (max-width: 991px) {
  header {
    background-position: center -250px !important;
  }

  .special-max-height {
    height: 610px !important;
  }

  header .intro-text {
    padding-top: 500px;
  }
}

@media (max-width: 768px) {

  .special-max-height {
    height: 480px !important;
  }

  header .intro-text {
    position: absolute;
    left: 0;
    padding: 0;
    width: 100vw;
  }

  .parallax2[data-v-c5234dcc] {
    position: absolute;
    top: 20%;
  }
  .parallax0 {
    max-width: unset;
    right: 70%;
  }
  .parallax1 {
    position: absolute;
    bottom: 0!important;
    height: 100%;
    right: -39%;
    max-width: unset;
  }
  .navbar-brand.logo img {
    height: 34px;
  }
  header .intro-text .intro-heading {
    margin-bottom: 24px;
  }
  .navbar-shrink .navbar-brand.logo-light{
    display: block;
    opacity: 1;
  }
  .navbar-default a.navbar-brand.smoothie.logo.logo-dark{
    display: none;
  }
  .navbar-brand.logo img {
    max-height: 130px;
    top: -7px;
    left: 4px;
  }
  .mess-home section {
    width: 75%;
  }
  .mess-home > .container > section > div {
    display: block;
  }
  .mess-home > .container > section > h3 {
    margin-bottom: 31px;
    text-align: center;
  }
  .mess-home > .container > section > form{
    text-align: center;
  }
}

@media (max-width: 420px) {
  .special-max-height {
    height: 95vh!important;
    min-height: auto;
  }
  .parallax0 {
    max-width: unset;
    right: 70%;
  }
  .parallax1 {
    position: absolute;
    bottom: 0!important;
    height: 100%;
    right: -65%;
    max-width: unset;
  }
  span.change_text {
    display: block;
    margin-left: -9px;
  }
  .about-home section {
    width: 95%;
  }
  .about-home .col-sm-6, .about-home .col-sm-6 p{
    text-align: center;
  }
  .about-home h4 {
    margin-top: 35px;
  }
  .mess-home section {
    width: 95%;
  }
  .mess-home > .container > section > div {
    display: block;
  }
  .mess-home > .container > section > h3 {
    margin-bottom: 31px;
    text-align: center;
  }
  .mess-home > .container > section > form{
    text-align: center;
  }
  .intro-sub-heading {
    font-size: 22px;
  }
  .jumbotron {
    padding: 15px 0;
  }
}

.label {
  display: block;
  padding: 10px;
}

.label-success {
  background-color: #5cb85c3b;
  border: 1px solid #496844;
}

.label-alarm {
  background-color: #3a242b;
  border: 1px solid #684444;
}

.navbar-brand.logo-dark img {
  max-height: 75px;
  top: -18px;
  left: -11px;
  position: relative;
}

.navbar-default a.navbar-brand.smoothie.logo.logo-dark {
  margin-top: 0;
}

.char {
  margin: 0 auto;
  padding: 30px 90px 60px;

  img {
    padding-top: 50px;
  }

  li {
    padding: 4px 0px;
  }
}

img {
  max-width: 100%;
}

.full-my-blog-img {
  box-shadow: 0px 0px 7px #dbdbdb;
}

.pc-my-blog-img {
  /*     height: 300px;
  margin-bottom: 75px; */
  margin-top: 75px;
}

.row-full-my-blog {
  padding: 0px 70px;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-width: 94%;
  margin: 1% 0 0 0;
}
.location {
  list-style: none;
  padding-left: 0!important;
  position: absolute;
}
.bg-text {
  position: absolute;
  font-size: 300px;
  font-weight: 600;
  color: #160e12;
  width: 100%;
  text-align: right;
}
.list-inline > li{
  font-size: 17px;
  font-weight: 500;
}
.about-home:before {
  content: " ";
  box-shadow: 0 -50px 50px #100a0e;
  width: 150%;
  height: 100%;
  position: absolute;
  z-index: 4;
  left: -25%;
}
.location .dropdown-menu {
  width: 40px;
  min-width: 40px;
}
.location .dropdown-menu a {
  display: block;
  text-align: center;
  padding: 3px 5px;
  transition: 0.3s;
}
.location .dropdown-menu a:hover {
  background-color: #100a0e;
  color: #faf5f5!important;
}
.vertical-center {
  top: 50%!important;
  transform: translate(0, -50%);
}
.empty_page{
  font-size: 19px;
  text-align: center;
  padding-bottom: 4%;
}
ul.cats li {
  list-style: none
}
ul.cats li a {
  color: #333;
  font-size: 16px;
}
ul.cats {
  padding-left: 5px;
}
.navbar-default .nav li > a:hover, .navbar-default .navbar-brand:hover {
  color: #d0d0d0;
}
.contact_inform{
  z-index: 9;
}
a:hover{
  transition: 0.3s;
}
.text_about_me{
  margin-bottom: 15px;
}
.a-download-cv {
  position: relative;
}
.a-download-cv a {
  background: #e6e6e68a!important;
  border-color: transparent;
  color: #160e12!important;
  font-size: 17px;
  padding: 14px 25px;
  position: absolute;
  min-width: 200px;
  text-align: center;
  top: 50px;
}
