<template>
  <div id="blog-post" v-if="blogPost.post_description_first">
    <div class="bg-stat">
      <h1 class="post-title">{{ blogPost.post_description_first.title }}</h1>
    </div>

    <div class="stat-container">
      <div class="container">
        <div class="white-bg blog">
          <div class="content" v-html="blogPost.post_description_first.description"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "blogPost",
  computed: mapGetters({
    locale: 'lang/locale',
    blogPost: 'blog/post',
  }),
  watch: {
    locale: function (){
      this.getPost(this.$route.params.id)
    }
  },
  mounted() {
    this.getPost(this.$route.params.id)
  },
  methods: {
    ...mapActions({ getPost: 'blog/getPost' }),
  }
}
</script>

<style scoped>

</style>
