<template>
  <div id="blog">
    <div class="bg-stat">
      <h1 class="post-title">Blog name</h1>
    </div>

    <div class="stat-container">
      <div class="container">
        <div class="white-bg blog">
          <div class="col-sm-9">
            <div class="blog-list-post masonry-portfolio-items">
              <div class="col-sm-4 col-xs-12" v-for="blogPost in blogPosts">
                <div class="blog-post">
                  <img :src="blogPost.image" :alt="blogPost.post_description_first.title">
                  <div class="blog-info">
                    <h3 class="blog-title"><a href="22" title="view project">{{ blogPost.post_description_first.title }}</a></h3>
                    {{ blogPost.post_description_first.short_description }}
                    <div class="view-btn">
                      <router-link :to="{name: 'blogPost', params:{id:blogPost.id}}" class="smoothie btn btn-primary blog-btn">Подробнее</router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <blog-categories />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import BlogCategories from "../components/blocks/blogCategories";

export default {
  components: {BlogCategories},
  computed: mapGetters({
    locale: 'lang/locale',
    blogPosts: 'blog/posts',
  }),
  watch: {
    locale: function (){
      this.getPosts(this.$route.params.category_id)
    },
    '$route.params': {
      handler() {
        this.getPosts(this.$route.params.category_id)
      },
      immediate: true,
    }
  },
  mounted() {
    this.getPosts(this.$route.params.category_id)
  },
  methods: {
    ...mapActions({ getPosts: 'blog/getPosts' }),
  }
}
</script>

<style scoped>

</style>
