<template>
  <div>
    <!-- ################################ -->
    <!-- ############ HEADER ############ -->
    <!-- ################################ -->

    <section class="o-section o-section--header  t-section  t-section--header">
      <div class="c-header">

        <div class="o-section__header-bg  t-section__header"></div>
        <div class="o-section__content-bg  t-section__content"></div>

        <div class="o-container">
          <div class="o-section__container">

            <header class="o-section__header  c-header__header  t-section__header">
              <div class="c-header__inner-header">

                <div class="c-header__avatar">
                  <div class="a-header  c-avatar">
                    <img alt="" class="c-avatar__img" src="/dist/img/resume/my_photo.jpeg">
                  </div><!-- /c-avatar -->
                </div><!-- /c-header-avatar -->

              </div><!-- /c-header__inner-header -->
            </header><!-- /o-section__header -->

            <div class="o-section__content  c-header__content  t-section__content">
              <div class="c-header__inner-content">

                <div class="c-header__top">

                  <div class="c-header__brand">

                    <div class="c-brand">
                      <h1 class="c-brand__title  t-title">
                        <span class="c-brand__sizer">
                          <span class="a-header  c-brand__first-word  t-title__first-word">
                            {{ $t('cv_first_name') }}
                          </span>
                          <span class="a-header  c-brand__second-word  t-title__second-word">
                            {{ $t('cv_last_name') }}
                          </span>
                        </span>
                      </h1>
                      <h2 class="a-header  c-brand__sub-title  t-sub-title">
                        <span class="c-brand__sizer c--brand--smoll">
                          {{ $t('cv_name') }}
                        </span>
                      </h2>
                      <div class="a-download-cv">
                        <a :href="$t('about_download_CV_link')" class="button button-top" target="_blank">{{ $t('about_download_CV') }}</a>
                      </div>
                    </div><!-- /c-brand -->

                  </div><!-- /c-header__brand -->

                  <ul class="c-header__social-buttons  c-social-buttons">
                    <li class="a-header">
                      <a class="c-social-button  t-social-button" href="https://t.me/dkartpro" target="_blank">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
                          <g id="XMLID_496_">
                            <path id="XMLID_497_" d="M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412
                              c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22
                              c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207
                              c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146
                              c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z"/>
                          </g>
                        </svg>
                      </a>
                    </li>
                    <li class="a-header">
                      <a class="c-social-button  t-social-button" href="https://www.linkedin.com/in/denis-kashavtsev-4857251ba" target="_blank">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 21.903 21.903" style="enable-background:new 0 0 21.903 21.903;" xml:space="preserve">
                          <g>
                            <path style="fill:#030104;" d="M2.67,1.211c0.682,0,1.216,0.215,1.604,0.643S4.87,2.822,4.898,3.469
                              c0,0.639-0.218,1.178-0.657,1.616C3.802,5.522,3.202,5.741,2.443,5.741H2.416c-0.741,0-1.328-0.219-1.765-0.656
                              C0.219,4.647,0,4.108,0,3.469c0-0.657,0.238-1.197,0.718-1.622C1.198,1.423,1.85,1.211,2.67,1.211z M0.287,7.535H4.97v13.156H0.287
                              V7.535z M21.903,13.148v7.543h-4.682v-7.036c0-0.895-0.184-1.612-0.55-2.158c-0.364-0.541-0.973-0.812-1.833-0.812
                              c-0.655,0-1.181,0.166-1.573,0.5c-0.393,0.332-0.678,0.699-0.85,1.102c-0.056,0.146-0.091,0.307-0.11,0.486
                              c-0.018,0.176-0.026,0.367-0.026,0.568v7.351H7.568c0.02-2.226,0.031-4.268,0.031-6.12v-2.339v-2.125
                              c0-0.647-0.007-1.199-0.018-1.657C7.575,7.997,7.568,7.69,7.568,7.535h4.711v1.863l-0.026,0.054h0.026V9.398
                              c0.146-0.229,0.333-0.468,0.561-0.719c0.231-0.25,0.507-0.484,0.843-0.7c0.333-0.214,0.734-0.39,1.204-0.533
                              c0.473-0.141,1.011-0.211,1.624-0.211c0.762,0,1.474,0.116,2.138,0.349c0.662,0.233,1.231,0.598,1.715,1.096
                              c0.481,0.495,0.858,1.111,1.132,1.847C21.769,11.261,21.903,12.135,21.903,13.148z"/>
                          </g>
                        </svg>
                      </a>
                    </li>
                  </ul><!-- /c-header__social-buttons -->

                </div><!-- /c-header__top -->

                <div class="c-header__contact">

                  <hr class="a-header  c-header__contact-divider"/>

                  <div class="o-grid">

                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                      <div class="a-header  o-content">
                        <div class="o-content__body">
                          <h4>{{ $t('cv_h_location') }}</h4>
                          <address>
                            {{ $t('cv_b_location') }}
                          </address>
                        </div>
                      </div><!-- /o-content -->
                    </div><!-- /o-grid__col -->

                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                      <div class="a-header  o-content">
                        <div class="o-content__body">
                          <h4>{{ $t('cv_h_phone') }}</h4>
                          <p>
                            <a :href="'tel:'+$t('cv_b_phone')"> {{ $t('cv_b_phone') }}</a>
                          </p>
                        </div>
                      </div><!-- /o-content -->
                    </div><!-- /o-grid__col -->

                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                      <div class="a-header  o-content">
                        <div class="o-content__body">
                          <a class="t-link-container" href="#" target="_blank">
                            <h4>{{ $t('cv_h_web') }}</h4>
                            <p>
                              <span class="t-link-container__item--blended">
                                <a href="dkart.pro">{{ $t('cv_b_web') }}</a>
                              </span>
                            </p>
                          </a><!-- /o-link-container -->
                        </div>
                      </div><!-- /o-content -->
                    </div><!-- /o-grid__col -->

                    <div class="o-grid__col-md-3  o-grid__col-sm-6">
                      <div class="a-header  o-content">
                        <div class="o-content__body">
                          <a class="t-link-container" :href="'mailto:'+$t('cv_b_email')">
                            <h4>{{ $t('cv_h_email') }}</h4>
                            <p>
                              <span class="t-link-container__item--blended">
                                {{ $t('cv_b_email') }}
                              </span>
                            </p>
                          </a><!-- /o-link-container -->
                        </div>
                      </div><!-- /o-content -->
                    </div><!-- /o-grid__col -->

                  </div><!-- /o-grid -->
                </div><!-- /c-header__contact -->

              </div><!-- /c-header__inner-content -->
            </div><!-- /o-section__content -->

          </div><!-- /o-section__container -->

        </div><!-- /o-container -->

      </div><!-- /c-header -->
    </section><!-- /o-section -->


    <!-- ################################ -->
    <!-- ############ INTRO ############# -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">
      <div class="o-section__header-bg  t-section__header"></div>
      <div class="o-section__content-bg  t-section__content"></div>
      <div class="o-container">
        <div class="o-section__container">
          <header class="o-section__header  t-section__header">
            <div class="o-content">
              <h2 class="o-section__heading">
                {{ $t('cv_into_header') }}
              </h2>
              <div class="o-content__body  o-section__description">
                {{ $t('cv_into_description') }}
              </div>
            </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  ">

            <div class="o-content">
              <div class="c-intro">
                <div class="o-content__body">
                  <p>
                    {{ $t('cv_into_text') }}
                  </p>
                </div>
              </div>
            </div>

          </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
      </div><!-- /o-container -->

    </section><!-- /o-section -->


    <!-- ################################ -->
    <!-- ############ SKILLS ############ -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

      <div class="o-section__header-bg  t-section__header"></div>
      <div class="o-section__content-bg  t-section__content"></div>

      <div class="o-container">
        <div class="o-section__container">

          <header class="o-section__header  t-section__header">
            <div class="o-content">
              <h2 class="o-section__heading">
                {{ $t('cv_skills_header') }}
              </h2>
              <div class="o-content__body  o-section__description">
                {{ $t('cv_skills_description') }}
              </div>
            </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  ">

            <div class="o-grid">

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        01
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Laravel</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="80"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        02
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Opencart</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="75"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        03
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Php</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="70"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        04
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Sql</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="65"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        05
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Vue</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="90"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        06
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Js, jquery</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="50"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        07
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Git</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="85"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

              <div class="o-grid__col-sm-6">
                <div class="o-content">
                  <div class="o-media  o-media--block">
                    <div class="o-media__figure">
                      <div class="c-number  t-primary-color">
                        08
                      </div>
                    </div>
                    <div class="o-media__body">
                      <h3>Html, css</h3>
                    </div>
                  </div>
                  <div class="c-progress-bar  o-content__body  t-border-color-bg  u-mt-text">
                    <div class="a-progress-bar  c-progress-bar__filler  t-primary-bg" data-percent="95"></div>
                  </div>
                </div>
              </div><!-- /o-grid__col -->

            </div><!-- /o-grid -->

          </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
      </div><!-- /o-container -->

    </section><!-- /o-section -->


    <!-- ################################ -->
    <!-- ########## EXPERIENCE ########## -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

      <div class="o-section__header-bg  t-section__header"></div>
      <div class="o-section__content-bg  t-section__content"></div>

      <div class="o-container">
        <div class="o-section__container">

          <header class="o-section__header  t-section__header">
            <div class="o-content">
              <h2 class="o-section__heading">
                {{ $t('cv_experience_header') }}
              </h2>
              <div class="o-content__body  o-section__description">
                {{ $t('cv_experience_description') }}
              </div>
            </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  u-pb-0">

            <div class="a-experience-timeline  c-timeline  t-border-color">

              <div class="c-timeline__item">
                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                <div class="o-content">
                  <div class="o-grid">
                    <div class="o-grid__col-md-5">
                      <div class="c-work__timeframe">
                        2020 &ndash; {{ $t('cv_experience_present') }}
                      </div>
                      <h3 class="c-work__heading">
                        Intent Solutions ™
                      </h3>
                      <h4 class="c-work__title">
                        Full Stack Web Developer, Laravel, Opencart
                      </h4>
                      <div class="c-work__location">
                        {{ $t('cv_experience_kharkov') }}
                      </div>
                    </div>
                    <div class="o-grid__col-md-7">
                      <p>
                        {{ $t('cv_experience_description-intent') }}
                      </p>
                    </div>
                  </div><!-- /o-grid -->
                </div><!-- /o-content -->
              </div><!-- /c-timeline__item -->

              <div class="c-timeline__item">
                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                <div class="o-content">
                  <div class="o-grid">
                    <div class="o-grid__col-md-5">
                      <div class="c-work__timeframe">
                        2016 &ndash; {{ $t('cv_experience_present') }}
                      </div>
                      <h3 class="c-work__heading">
                        Full - stack web developer | Freelance
                      </h3>
                      <h4 class="c-work__title">
                        Full Stack Web Developer, Laravel, Opencart
                      </h4>
                      <div class="c-work__location">
                        {{ $t('cv_experience_world') }}
                      </div>
                    </div>
                    <div class="o-grid__col-md-7">
                      <p>
                        {{ $t('cv_experience_description-freelance') }}
                      </p>
                    </div>
                  </div><!-- /o-grid -->
                </div><!-- /o-content -->
              </div><!-- /c-timeline__item -->

              <div class="c-timeline__item">
                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                <div class="o-content">
                  <div class="o-grid">
                    <div class="o-grid__col-md-5">
                      <div class="c-work__timeframe">
                        2019 &ndash; 2020
                      </div>
                      <h3 class="c-work__heading">
                        APSite
                      </h3>
                      <h4 class="c-work__title">
                        Full Stack Web Developer
                      </h4>
                      <div class="c-work__location">
                        {{ $t('cv_experience_kharkov') }}
                      </div>
                    </div>
                    <div class="o-grid__col-md-7">
                      <p>
                        {{ $t('cv_experience_description-apsite') }}
                      </p>
                    </div>
                  </div><!-- /o-grid -->
                </div><!-- /o-content -->
              </div><!-- /c-timeline__item -->

              <div class="c-timeline__item">
                <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                <div class="o-content">
                  <div class="o-grid">
                    <div class="o-grid__col-md-5">
                      <div class="c-work__timeframe">
                        2017 &ndash; 2019
                      </div>
                      <h3 class="c-work__heading">
                        French-shop
                      </h3>
                      <h4 class="c-work__title">
                        Full Stack Web Developer
                      </h4>
                      <div class="c-work__location">
                        {{ $t('cv_experience_kharkov') }}
                      </div>
                    </div>
                    <div class="o-grid__col-md-7">
                      <p>
                        {{ $t('cv_experience_description-french') }}
                      </p>
                    </div>
                  </div><!-- /o-grid -->
                </div><!-- /o-content -->
              </div><!-- /c-timeline__item -->

            </div><!-- /c-timeline -->

          </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
      </div><!-- /o-container -->

    </section><!-- /o-section -->


    <!-- ################################ -->
    <!-- ########### EDUCATION ########## -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

      <div class="o-section__header-bg  t-section__header"></div>
      <div class="o-section__content-bg  t-section__content"></div>

      <div class="o-container">
        <div class="o-section__container">

          <header class="o-section__header  t-section__header">
            <div class="o-content">
              <h2 class="o-section__heading">
                {{ $t('cv_education_header') }}
              </h2>
              <div class="o-content__body  o-section__description">

              </div>
            </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  u-pt-0">

            <div class="o-content">
              <div class="a-education-timeline  c-timeline  t-border-color  o-section__full-top-space">
                <div class="c-timeline__end  t-border-color"></div>

                <div class="c-timeline__item">
                  <div class="c-timeline__point  t-timeline__point  t-primary-bg"></div>
                  <div class="o-content">
                    <div class="o-grid">
                      <div class="o-grid__col-md-5">
                        <div class="c-work__timeframe">
                          2011 &ndash; 2016
                        </div>
                        <h3 class="c-work__heading">
                          {{ $t('cv_education_name_university') }}
                        </h3>
                        <div class="c-work__location">
                          {{ $t('cv_experience_kharkov') }}
                        </div>
                      </div>
                      <div class="o-grid__col-md-7">
                        <p>
                          {{ $t('cv_education_description_university') }}
                        </p>
                      </div>
                    </div><!-- /o-grid -->
                  </div><!-- /o-content -->
                </div><!-- /c-timeline__item -->

              </div><!-- /c-timeline -->
            </div><!-- /o-content -->

          </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
      </div><!-- /o-container -->

    </section><!-- /o-section -->


    <!-- ################################ -->
    <!-- ########### PROFILES ########### -->
    <!-- ################################ -->

    <section class="o-section  t-section  ">

      <div class="o-section__header-bg  t-section__header"></div>
      <div class="o-section__content-bg  t-section__content"></div>

      <div class="o-container">
        <div class="o-section__container">

          <header class="o-section__header  t-section__header">
            <div class="o-content">
              <h2 class="o-section__heading">
                {{ $t('cv_profiles_header') }}
              </h2>
              <div class="o-content__body  o-section__description">
                {{ $t('cv_profiles_description') }}
              </div>
            </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  ">

            <div class="o-grid">

              <div class="o-grid__col-xl-4  o-grid__col-sm-6">
                <div class="o-content">
                  <a class="t-link-container" href="https://www.linkedin.com/in/denis-kashavtsev-4857251ba" target="_blank">
                    <div class="o-media  o-media--block">
                      <div class="o-media__body  o-content__body">
                        <h3 class="t-link-container__item">
                          Linkedin
                        </h3>
                        <p>
                          {{ $t('cv_profiles_description-linkedin') }}
                        </p>
                      </div>
                    </div><!-- /o-media -->
                  </a><!-- /t-link-container -->
                </div><!-- /o-content -->
              </div><!-- /o-grid__col -->

            </div><!-- /o-grid -->

          </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
      </div><!-- /o-container -->

    </section><!-- /o-section -->

    <!-- ################################ -->
    <!-- ############ FOOTER ############ -->
    <!-- ################################ -->

    <section class="o-section  t-section  o-section--footer">

      <div class="o-section__header-bg  t-section__header"></div>
      <div class="o-section__content-bg  t-section__content"></div>

      <div class="o-container">
        <div class="o-section__container">

          <header class="o-section__header  t-section__header">
            <div class="o-content">
              <h2 class="o-section__heading">
                {{ $t('cv_contact_header') }}
              </h2>
              <div class="o-content__body  o-section__description">
                {{ $t('cv_contact_description') }}
              </div>
            </div>
          </header><!-- /o-section__header -->

          <div class="o-section__content  t-section__content  ">

            <div class="c-footer__contact">
              <div class="o-grid">

                <div class="o-grid__col-md-3  o-grid__col-sm-6">
                  <div class="a-header  o-content">
                    <div class="o-content__body">
                      <h4>{{ $t('cv_h_location') }}</h4>
                      <address>
                        {{ $t('cv_b_location') }}
                      </address>
                    </div>
                  </div><!-- /o-content -->
                </div><!-- /o-grid__col -->

                <div class="o-grid__col-md-3  o-grid__col-sm-6">
                  <div class="a-header  o-content">
                    <div class="o-content__body">
                      <h4>{{ $t('cv_h_phone') }}</h4>
                      <p>
                        {{ $t('cv_b_phone') }}
                      </p>
                    </div>
                  </div><!-- /o-content -->
                </div><!-- /o-grid__col -->

                <div class="o-grid__col-md-3  o-grid__col-sm-6">
                  <div class="a-header  o-content">
                    <div class="o-content__body">
                      <a class="t-link-container" href="#" target="_blank">
                        <h4>{{ $t('cv_h_web') }}</h4>
                        <p>
                              <span class="t-link-container__item--blended">
                                <a href="dkart.pro">{{ $t('cv_b_web') }}</a>
                              </span>
                        </p>
                      </a><!-- /o-link-container -->
                    </div>
                  </div><!-- /o-content -->
                </div><!-- /o-grid__col -->

                <div class="o-grid__col-md-3  o-grid__col-sm-6">
                  <div class="a-header  o-content">
                    <div class="o-content__body">
                      <a class="t-link-container" href="#" target="_blank">
                        <h4>{{ $t('cv_h_email') }}</h4>
                        <p>
                              <span class="t-link-container__item--blended">
                                {{ $t('cv_b_email') }}
                              </span>
                        </p>
                      </a><!-- /o-link-container -->
                    </div>
                  </div><!-- /o-content -->
                </div><!-- /o-grid__col -->

              </div><!-- /o-grid -->
            </div><!-- /c-footer__contact -->

            <hr class="c-footer__contact-divider"/>

            <div class="o-content">
              <div class="c-footer__bottom">
                <div class="c-footer__brand">

                  <div class="c-brand">
                    <div class="o-content__body">
                      <h1 class="c-brand__title  t-title">
                        <span class="c-brand__sizer">
                          <span class="a-header  c-brand__first-word  t-title__first-word">
                            {{ $t('cv_first_name') }}
                          </span>
                          <span class="a-header  c-brand__second-word  t-title__second-word">
                            {{ $t('cv_last_name') }}
                          </span>
                        </span>
                      </h1>
                    </div><!-- /o-content__body -->
                  </div><!-- /c-brand -->

                </div><!-- /c-footer__brand -->

                <ul class="c-header__social-buttons  c-social-buttons">
                  <li class="a-header">
                    <a class="c-social-button  t-social-button" href="https://t.me/dkartpro" target="_blank">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
                          <g id="XMLID_496_">
                            <path id="XMLID_497_" d="M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412
                              c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22
                              c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207
                              c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146
                              c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z"/>
                          </g>
                        </svg>
                    </a>
                  </li>
                  <li class="a-header">
                    <a class="c-social-button  t-social-button" href="https://www.linkedin.com/in/denis-kashavtsev-4857251ba" target="_blank">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="0 0 21.903 21.903" style="enable-background:new 0 0 21.903 21.903;" xml:space="preserve">
                          <g>
                            <path style="fill:#030104;" d="M2.67,1.211c0.682,0,1.216,0.215,1.604,0.643S4.87,2.822,4.898,3.469
                              c0,0.639-0.218,1.178-0.657,1.616C3.802,5.522,3.202,5.741,2.443,5.741H2.416c-0.741,0-1.328-0.219-1.765-0.656
                              C0.219,4.647,0,4.108,0,3.469c0-0.657,0.238-1.197,0.718-1.622C1.198,1.423,1.85,1.211,2.67,1.211z M0.287,7.535H4.97v13.156H0.287
                              V7.535z M21.903,13.148v7.543h-4.682v-7.036c0-0.895-0.184-1.612-0.55-2.158c-0.364-0.541-0.973-0.812-1.833-0.812
                              c-0.655,0-1.181,0.166-1.573,0.5c-0.393,0.332-0.678,0.699-0.85,1.102c-0.056,0.146-0.091,0.307-0.11,0.486
                              c-0.018,0.176-0.026,0.367-0.026,0.568v7.351H7.568c0.02-2.226,0.031-4.268,0.031-6.12v-2.339v-2.125
                              c0-0.647-0.007-1.199-0.018-1.657C7.575,7.997,7.568,7.69,7.568,7.535h4.711v1.863l-0.026,0.054h0.026V9.398
                              c0.146-0.229,0.333-0.468,0.561-0.719c0.231-0.25,0.507-0.484,0.843-0.7c0.333-0.214,0.734-0.39,1.204-0.533
                              c0.473-0.141,1.011-0.211,1.624-0.211c0.762,0,1.474,0.116,2.138,0.349c0.662,0.233,1.231,0.598,1.715,1.096
                              c0.481,0.495,0.858,1.111,1.132,1.847C21.769,11.261,21.903,12.135,21.903,13.148z"/>
                          </g>
                        </svg>
                    </a>
                  </li>
                </ul><!-- /c-header__social-buttons -->

              </div><!-- /c-footer__bottom -->
            </div><!-- /o-content -->

          </div><!-- /o-section__content -->

        </div><!-- /o-section__container -->
      </div><!-- /o-container -->

    </section><!-- /o-section -->


  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "cv",
  mounted() {
    this.setLoading(true)
    setTimeout(() => {
      this.setLoading(false)
    }, 500)
  },
  methods:{
    ...mapActions({ setLoading: 'loading/setLoading' }),
  }
}
</script>

<style lang="scss" scoped>
@import "/resources/sass/portfolio.scss";
</style>
