<template>
  <div id="home">
    <block-banner />

    <block-about />

    <div class="jumbotron">
      <div class="container">
        <div class="white-bg">
          <block-portfolio />
        </div>
      </div>
    </div>

    <block-callback />

  </div>
</template>

<script>
import BlockAbout from "../components/blocks/about";
import BlockPortfolio from "../components/blocks/portfolio";
import BlockCallback from "../components/blocks/callback";
import BlockBanner from "../components/blocks/banner";
export default {
  name: "home",
  components: {BlockBanner, BlockCallback, BlockPortfolio, BlockAbout}
}
</script>
