<template>
  <div id="blog-post" v-if="project.portfolio_description_first">
    <div class="bg-stat">
      <h1 class="post-title">{{ project.portfolio_description_first.title }}</h1>
    </div>

    <div class="stat-container">
      <div class="container">
        <div class="white-bg blog">
          <div class="content" v-html="project.portfolio_description_first.description"></div>

          <div class="content">
            <VueSlickCarousel :arrows="true" :dots="true">
              <template v-for="image in project.portfolio_image">
                <img :src="image.image" :alt="project.portfolio_description_first.title">
              </template>
            </VueSlickCarousel>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  name: "Project",
  components: { VueSlickCarousel },
  computed: mapGetters({
    locale: 'lang/locale',
    project: 'portfolio/project',
  }),
  watch: {
    locale: function (){
      this.getProject(this.$route.params.id)
    }
  },
  mounted() {
    this.getProject(this.$route.params.id)
  },
  methods: {
    ...mapActions({ getProject: 'portfolio/getProject' }),
  }
}
</script>

<style scoped>

</style>
