<template>
  <div id="app" v-scroll="handleScroll">
    <loading></loading>
    <div class="master-wrapper">
      <Navigation />
      <router-view />
      <Footer />
    </div>
  </div>
</template>

<script>
import Loading from './Loading'
import Footer from './Footer'
import Navigation from './Navigation'
import {mapActions, mapGetters} from "vuex";

export default {
  computed: mapGetters({
    loading: 'loading/loading',
  }),
  el: '#app',
  directives: {
    scroll: {
      inserted: function (el, binding) {
        let f = function (evt) {
          if (binding.value(evt, el)) {
            window.removeEventListener('scroll', f)
          }
        }
        window.addEventListener('scroll', f)
      }
    }
  },
  components: {
    Loading, Footer, Navigation
  },
  data: () => ({
    fixedNav: true
  }),
  metaInfo () {
    const { appName } = window.config

    return {
      title: appName,
      titleTemplate: `%s · ${appName}`
    }
  },
  mounted () {
    this.handleScroll()
  },
  watch: {
    locale: function (){
      this.getPosts(this.$route.params.category_id)
    },
    '$route.params': {
      handler() {
        this.handleScroll()
        this.closeMenu()
      },
      immediate: true,
    }
  },
  methods: {
    handleScroll: function () {
      this.fixedNav = true;

      if(location.pathname === '/') {
        if (window.scrollY > 300) {
          this.fixedNav = true;
        }
        if (window.scrollY < 300) {
          this.fixedNav = false;
        }
      }
    },
    closeMenu(){
      if(document.querySelector('.navbar-collapse.collapse')) {
        document.querySelector('.navbar-collapse.collapse').classList.remove('show');
      }
    },
    ...mapActions({ setLoading: 'loading/setLoading' }),
  }
}
</script>
