<template>
  <div id="footer-wrapper" class="footer-image-bg">
    <section class="transparent-wrapper">
    </section>
    <footer class="white-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-right match-height">
            <div class="vertical-center">
              <span class="copyright">Copyright {{ year }}</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "block-footer",
  data(){
    return {
      year: ''
    }
  },
  created() {
    this.year = (new Date()).getFullYear()
  }
}
</script>
