<template>
  <div id="loading" :class="{ show : loading }" >
    <div class="wrapper">
      <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: mapGetters({
    loading: 'loading/loading',
  }),
}
</script>

<style scoped>
#loading {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  transition-duration: 0.3s, 0s;
  transition-property: opacity, height;
  transition-delay: 0s, 0.3s;
  background-color: #100a0e;
  z-index: 999999;
  opacity: 0;
  height: 0;
}
#loading.show{
  opacity: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  transition: 0s;
}
.wrapper {
  position: absolute;
  width: 200px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.loader {
  height: 100%;
  display: flex;
  transform: translateZ(0);
}
.loader div {
  flex: 1;
  background: #ef611c;
  animation: go 0.8s infinite alternate ease;
 }
.loader div:nth-child(1) {
  animation-delay: -0.72s; }
.loader div:nth-child(2) {
  animation-delay: -0.64s; }
.loader div:nth-child(3) {
  animation-delay: -0.56s; }
.loader div:nth-child(4) {
  animation-delay: -0.48s; }
.loader div:nth-child(5) {
  animation-delay: -0.4s; }
.loader div:nth-child(6) {
  animation-delay: -0.32s; }
.loader div:nth-child(7) {
  animation-delay: -0.24s; }
.loader div:nth-child(8) {
  animation-delay: -0.16s; }
.loader div:nth-child(9) {
  animation-delay: -0.08s; }
.loader div:nth-child(10) {
  animation-delay: 0s; }

@keyframes go {
  100% {
    background: transparent;
    flex: 10;
    box-shadow: 0 0 0 transparent; } }

</style>
