<template>
  <nav class="navbar navbar-default navbar-fixed-top" v-bind:class="{ 'navbar-shrink': this.$parent.fixedNav }">
    <div class="top-bar smoothie hidden-xs">
      <div class="container">
        <div class="clearfix">
          <LocaleDropdown/>
<!--          <ul class="list-inline social-links wow pull-left">-->
<!--            <li>-->
<!--              <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#"><i class="fa fa-pinterest"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#"><i class="fa fa-behance"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--            </li>-->
<!--          </ul>-->
          <div class="pull-right text-right">
            <ul class="list-inline">
              <li>
                <div> <span><a href="mailto:dkashavtsev@gmail.com">dkashavtsev@gmail.com</a></span></div>
              </li>
              <li>
                <div> <span><a href="tel:+380991163566">+38 (099) 11 63 566</a></span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link :to="{ name: 'home' }" class="navbar-brand smoothie logo logo-light" href="index.html"><img src="/dist/img/logo/dk.svg" alt="logo"></router-link>
        <router-link :to="{ name: 'home' }" class="navbar-brand smoothie logo logo-dark" href="/"><img src="/dist/img/logo/dk-black.svg" alt="logo"></router-link>
      </div>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <router-link :to="{ name: 'home', hash: '#about' }">{{ $t('nav_about_me') }}</router-link>
          </li>
          <li class="dropdown">
            <router-link :to="{ name: 'home', hash: '#works' }">{{ $t('nav_works') }}</router-link>
          </li>
          <li class="dropdown">
            <router-link :to="{ name:'cv' }">{{ $t('nav_cv') }}</router-link>
          </li>
          <li class="dropdown">
            <router-link :to="{ name: 'home', hash: '#contact' }">{{ $t('nav_contacts') }}</router-link>
          </li>
          <li class="dropdown">
            <router-link :to="{ name:'blog' }">{{ $t('nav_blog') }}</router-link>
          </li>
        </ul>

        <div class="mobile-block-addition">
          <LocaleDropdown/>
          <ul class="contact">
            <li>
              <div><span><a href="mailto:dkashavtsev@gmail.com">dkashavtsev@gmail.com</a></span></div>
            </li>
            <li>
              <div><span><a href="tel:+380991163566">+38 (099) 11 63 566</a></span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import LocaleDropdown from "./elements/LocaleDropdown";
export default {
  name: "block-navigation",
  components: {
      LocaleDropdown
  },
}
</script>
