<template>
  <div class="about-home">
    <div class="container">
      <section id="about">
        <div>
          <div class="col-sm-12 text_about_me" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
            <h2>{{ $t('about_hello') }}</h2>
            <p>{{ $t('about_text') }}</p>
          </div>
          <div class="col-sm-6 aos-init contact_inform" data-aos="fade-in" data-aos-delay="400" data-aos-duration="1000">
            <h4>{{ $t('about_contact') }}</h4>
            <p class="address">
              <span>{{ $t('about_name') }}</span><br>
              <span>{{ $t('about_address') }}</span><br>
              <span><a href="tel:+380991163566">+38(099)11-63-566</a></span><br>
              <span><a href="mailto:dkashavtsev@gmail.com">dkashavtsev@gmail.com</a></span>
            </p>
          </div>
          <div class="col-sm-6 aos-init text-center" data-aos="fade-in" data-aos-delay="400" data-aos-duration="1000">
            <a :href="$t('about_download_CV_link')" class="button button-top" target="_blank">{{ $t('about_download_CV') }}</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>

</script>
