<template>
  <header id="headerwrap" class="dark-wrapper backstretched special-max-height no-overlay">

    <kinesis-container :event="eventParallax() <= 990 ? 'scroll' : 'move'">
      <kinesis-element class="parallax0" tag="img" :src="bg0" :strength="20" type="translate" />
      <kinesis-element class="parallax1" tag="img" :src="bg1" :strength="55" type="translate" />
      <kinesis-element class="parallax2" :strength="30" type="translate">
        <div class="container">
          <div class="intro-text text-left smoothie">
            <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Welcome</div>
            <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">{{ $t('banner_first_text') }}
              <span class="change_text">
                <span :class="{ active_text : typeProject === 0 }">{{ $t('typesProject.0') }}</span>
                <span :class="{ active_text : typeProject === 1 }">{{ $t('typesProject.1') }}</span>
                <span :class="{ active_text : typeProject === 2 }">{{ $t('typesProject.2') }}</span>
              </span>
            </div>
          </div>
        </div>
      </kinesis-element>
    </kinesis-container>
  </header>
</template>
<style scoped>
  .parallax0{
    position: relative;
    bottom: 50px;
    min-width: 110%;
    right: 5%;
  }
  .parallax1{
    position: absolute;
    bottom: 10%;
    min-width: 105%;
  }
  .parallax2{
    position: absolute;
    bottom: 20%;
    left: 5%;
  }
  .change_text span{
    opacity: 0;
    position: absolute;
    transition: 0.9s;
    margin-left: 10px;
  }
  .change_text span.active_text{
    opacity: 1;
  }
</style>
<script>
import { KinesisContainer, KinesisElement} from 'vue-kinesis'

export default {
  components: {
    KinesisContainer, KinesisElement
  },
  data(){
    return {
      bg0: '/images/bg_0.png',
      bg1: '/images/bg_1.png',
      typeProject: 0,
      attrEvent: 'scroll'
    }
  },
  mounted() {
    this.changeTextTypeProject()
    this.eventParallax()
  },
  methods: {
    changeTextTypeProject(){
        setInterval(() => {
          this.typeProject++;
          if(this.typeProject > 2){
            this.typeProject = 0
          }
        }, 3000)
    },
    eventParallax() {
      return window.innerWidth
    },
  }
}
</script>
