<template>
  <div class="blog-categories" v-if="categories.length">
    <h3>{{ $t('blog_category') }}</h3>
    <ul class="cats">
      <li class="active" v-for="category in categories">
        <router-link :to="{ name: 'blog', params: { category_id: category.id } }">{{ category.category_description_first.title }}</router-link>
      </li>
    </ul>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import ModalProject from "../ModalProject";

export default {
  components: {ModalProject},
  computed: mapGetters({
    locale: 'lang/locale',
    categories: 'blog/categories',
  }),
  watch: {
    locale: function (){
      this.getCategories()
    }
  },
  mounted() {
    this.getCategories()
  },
  methods: {
    ...mapActions({ getCategories: 'blog/getCategories' }),
  }
}
</script>
