<template>
  <div class="mess-home">
    <div class="container">
      <section id="contact">
        <div>
          <h3 data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000">{{ $t('callback_title') }}</h3>

          <div id="result">
            <template v-for="error in status.errors" v-if="status.errors">
              <span class="label label-alarm">{{ $t('errors.'+error) }}</span>
            </template>

            <span class="label label-success" v-if="status.success">{{ $t('callback_success') }}</span>
          </div>

          <form class="form-inline" @submit.prevent="sendMessage(form)" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">

            <input type="text" v-model="form.name" class="form-control" :placeholder="$t('callback_name')">

            <input type="text" v-model="form.mail" class="form-control" :placeholder="$t('callback_email')">

            <input type="text" v-model="form.message" class="form-control" :placeholder="$t('callback_message')">

            <button type="submit" class="btn button">{{ $t('callback_send') }}</button>
          </form>

        </div>
      </section>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  computed: mapGetters({
    status: 'callback/status',
  }),
  data() {
    return {
      form: {
        name: '',
        mail: '',
        message: ''
      }
    }
  },
  methods: {
    ...mapActions({ sendMessage: 'callback/sendMessage' }),
  }
}
</script>
