<template>
  <div class="section-inner masonry-portfolio container demo-selector" data-masonry-cols="4" id="works">
    <h2 class="work" data-aos="fade-in" data-aos-delay="200" data-aos-duration="1000">{{ $t('works_title') }}</h2>
    <div>
      <ul class="masonry-portfolio-items isotope list-unstyled" v-masonry item-selector=".masonry-item">
        <li v-masonry-tile class="col-sm-3 col-xs-6 masonry-portfolio-item masonry-item apps isotope-item mb30" v-for="(project, index) in projects" data-aos="fade-up" :data-aos-delay="index + '00'" data-aos-duration="1000">
          <router-link :to="{ name: 'project', params: { id: project.id } }">
            <div class="hover-item">
              <img :src="project.portfolio_image_first.image" :alt="project.portfolio_description_first.title" class="img-responsive smoothie">
              <div class="overlay-item-caption smoothie"></div>
              <div class="hover-item-caption smoothie">
                <div class="vertical-center smoothie">
                  <h3 class="smoothie mb30"><span title="view project"><a>{{ project.portfolio_description_first.title }}</a></span></h3>
                  <span class="smoothie btn btn-primary">View</span>
                </div>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import ModalProject from "../ModalProject";
import {VueMasonryPlugin} from 'vue-masonry';

export default {
  components: {ModalProject, VueMasonryPlugin},
  computed: mapGetters({
    locale: 'lang/locale',
    projects: 'portfolio/projects',
  }),
  data(){
    return {

    }
  },
  watch: {
    locale: function (){
      this.getProjects()
    }
  },
  mounted() {
    this.getProjects()
  },
  methods: {
    ...mapActions({ getProjects: 'portfolio/getProjects' }),
  }
}
</script>
